/*! 
* DevExtreme
* Version: 16.1.5
* Build date: Jul 25, 2016
*
* Copyright (c) 2012 - 2016 Developer Express Inc. ALL RIGHTS RESERVED
* EULA: https://www.devexpress.com/Support/EULAs/DevExtreme.xml
*/

.dx-colorview-palette-handle
{
  background: -webkit-gradient(transparent 5px,rgba(0,0,0,.2) 6px,#fff 7px,#fff 12px,rgba(0,0,0,.2) 13px);
  background: -webkit-radial-gradient(transparent 5px,rgba(0,0,0,.2) 6px,#fff 7px,#fff 12px,rgba(0,0,0,.2) 13px);
  background: -moz-radial-gradient(transparent 5px,rgba(0,0,0,.2) 6px,#fff 7px,#fff 12px,rgba(0,0,0,.2) 13px);
  background: -ms-radial-gradient(transparent 5px,rgba(0,0,0,.2) 6px,#fff 7px,#fff 12px,rgba(0,0,0,.2) 13px);
  background: -o-radial-gradient(transparent 5px,rgba(0,0,0,.2) 6px,#fff 7px,#fff 12px,rgba(0,0,0,.2) 13px);
  background: radial-gradient(transparent 5px,rgba(0,0,0,.2) 6px,#fff 7px,#fff 12px,rgba(0,0,0,.2) 13px);
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
}
.dx-colorview-hue-scale-handle
{
  border: 1px solid rgba(0,0,0,.2);
  -webkit-box-shadow: inset -5px 0 0 3px white,inset 5px 0 0 3px white,inset -6px 0 1px 4px rgba(0,0,0,.2),inset 6px 0 1px 4px rgba(0,0,0,.2);
  -moz-box-shadow: inset -5px 0 0 3px white,inset 5px 0 0 3px white,inset -6px 0 1px 4px rgba(0,0,0,.2),inset 6px 0 1px 4px rgba(0,0,0,.2);
  box-shadow: inset -5px 0 0 3px white,inset 5px 0 0 3px white,inset -6px 0 1px 4px rgba(0,0,0,.2),inset 6px 0 1px 4px rgba(0,0,0,.2);
}
.dx-colorview-alpha-channel-handle
{
  border: 1px solid rgba(0,0,0,.2);
  -webkit-box-shadow: inset 0 -5px 0 3px white,inset 0 5px 0 3px white,inset 0 -6px 1px 4px rgba(0,0,0,.2),inset 0 6px 1px 4px rgba(0,0,0,.2);
  -moz-box-shadow: inset 0 -5px 0 3px white,inset 0 5px 0 3px white,inset 0 -6px 1px 4px rgba(0,0,0,.2),inset 0 6px 1px 4px rgba(0,0,0,.2);
  box-shadow: inset 0 -5px 0 3px white,inset 0 5px 0 3px white,inset 0 -6px 1px 4px rgba(0,0,0,.2),inset 0 6px 1px 4px rgba(0,0,0,.2);
}
.dx-datagrid
{
  color: #333;
  background-color: #fff;
}
.dx-datagrid .dx-sort-up
{
  font: 14px/1 DXIcons;
}
.dx-datagrid .dx-sort-up:before
{
  content: "\f051 ";
}
.dx-datagrid .dx-sort-down
{
  font: 14px/1 DXIcons;
}
.dx-datagrid .dx-sort-down:before
{
  content: "\f052 ";
}
.dx-datagrid .dx-header-filter
{
  position: relative;
  font: 14px/1 DXIcons;
}
.dx-datagrid .dx-header-filter:before
{
  content: "\f050 ";
}
.dx-datagrid.dx-filter-menu .dx-menu-item-content .dx-icon
{
  width: 14px;
  height: 14px;
  background-position: 0 0;
  -webkit-background-size: 14px 14px;
  -moz-background-size: 14px 14px;
  background-size: 14px 14px;
  padding: 0;
  font-size: 14px;
  text-align: center;
  line-height: 14px;
}
.dx-datagrid .dx-datagrid-content-fixed .dx-datagrid-table .dx-col-fixed
{
  background-color: #fff;
}
.dx-datagrid .dx-datagrid-rowsview .dx-data-row td.dx-pointer-events-none, .dx-datagrid .dx-datagrid-rowsview .dx-freespace-row td.dx-pointer-events-none, .dx-datagrid .dx-datagrid-headers .dx-row td.dx-pointer-events-none
{
  border-left: 2px solid #ddd;
  border-right: 2px solid #ddd;
}
.dx-datagrid .dx-datagrid-rowsview .dx-data-row td.dx-pointer-events-none.dx-first-cell, .dx-datagrid .dx-datagrid-rowsview .dx-freespace-row td.dx-pointer-events-none.dx-first-cell, .dx-datagrid .dx-datagrid-headers .dx-row td.dx-pointer-events-none.dx-first-cell
{
  border-left: none;
}
.dx-datagrid .dx-datagrid-rowsview .dx-data-row td.dx-pointer-events-none.dx-last-cell, .dx-datagrid .dx-datagrid-rowsview .dx-freespace-row td.dx-pointer-events-none.dx-last-cell, .dx-datagrid .dx-datagrid-headers .dx-row td.dx-pointer-events-none.dx-last-cell
{
  border-right: none;
}
.dx-datagrid .dx-datagrid-headers .dx-header-filter
{
  color: #959595;
}
.dx-datagrid .dx-datagrid-headers .dx-header-filter-empty
{
  color: rgba(149,149,149,.5);
}
.dx-datagrid .dx-datagrid-rowsview .dx-datagrid-edit-form
{
  background-color: #fff;
}
.dx-datagrid .dx-datagrid-filter-row .dx-filter-range-content
{
  color: #333;
}
.dx-datagrid-form-buttons-container
{
  float: right;
}
.dx-datagrid-form-buttons-container .dx-button
{
  margin-left: 10px;
  margin-top: 10px;
}
.dx-datagrid-column-chooser
{
  color: #333;
  font-weight: normal;
  font-size: 12px;
  font-family: 'Helvetica Neue','Segoe UI',Helvetica,Verdana,sans-serif;
  line-height: normal;
}
.dx-datagrid-column-chooser input, .dx-datagrid-column-chooser textarea
{
  font-family: 'Helvetica Neue','Segoe UI',Helvetica,Verdana,sans-serif;
}
.dx-datagrid-export-menu .dx-menu-item .dx-icon-exportxlsx
{
  width: 16px;
  height: 16px;
  background-position: 0 0;
  -webkit-background-size: 16px 16px;
  -moz-background-size: 16px 16px;
  background-size: 16px 16px;
  padding: 0;
  font-size: 16px;
  text-align: center;
  line-height: 16px;
}
.dx-datagrid-adaptive-more
{
  cursor: pointer;
  font: 14px/1 DXIcons;
  width: 21px;
  height: 21px;
  background-position: 0 0;
  -webkit-background-size: 21px 21px;
  -moz-background-size: 21px 21px;
  background-size: 21px 21px;
  padding: 0;
  font-size: 21px;
  text-align: center;
  line-height: 21px;
}
.dx-datagrid-adaptive-more:before
{
  content: "\f06c ";
}
.dx-rtl .dx-datagrid .dx-datagrid-rowsview .dx-data-row td.dx-pointer-events-none, .dx-rtl .dx-datagrid .dx-datagrid-rowsview .dx-freespace-row td.dx-pointer-events-none, .dx-rtl .dx-datagrid .dx-datagrid-headers .dx-row td.dx-pointer-events-none
{
  border-left: 2px solid #ddd;
}
.dx-rtl .dx-datagrid .dx-datagrid-rowsview .dx-data-row td.dx-pointer-events-none.dx-first-cell, .dx-rtl .dx-datagrid .dx-datagrid-rowsview .dx-freespace-row td.dx-pointer-events-none.dx-first-cell, .dx-rtl .dx-datagrid .dx-datagrid-headers .dx-row td.dx-pointer-events-none.dx-first-cell
{
  border-right: none;
}
.dx-rtl .dx-datagrid .dx-datagrid-rowsview .dx-data-row td.dx-pointer-events-none.dx-last-cell, .dx-rtl .dx-datagrid .dx-datagrid-rowsview .dx-freespace-row td.dx-pointer-events-none.dx-last-cell, .dx-rtl .dx-datagrid .dx-datagrid-headers .dx-row td.dx-pointer-events-none.dx-last-cell
{
  border-left: none;
}
.dx-rtl .dx-datagrid-form-buttons-container
{
  float: left;
}
.dx-rtl .dx-datagrid-form-buttons-container .dx-button
{
  margin-left: 0;
  margin-right: 10px;
}
.dx-pivotgrid-fields-container .dx-position-indicator
{
  background-color: #808080;
}
.dx-pivotgrid-fields-container .dx-position-indicator.dx-position-indicator-vertical
{
  margin-top: -4px;
  margin-left: -1px;
  height: 2px;
}
.dx-pivotgrid-fields-container .dx-position-indicator.dx-position-indicator-vertical.dx-position-indicator-last
{
  margin-top: -3px;
}
.dx-pivotgrid-fields-container .dx-position-indicator.dx-position-indicator-horizontal
{
  margin-left: -3px;
  width: 2px;
}
.dx-pivotgrid-fields-container .dx-position-indicator.dx-position-indicator-horizontal.dx-position-indicator-last
{
  margin-left: 3px;
}
.dx-pivotgrid-fields-container .dx-area-fields
{
  position: relative;
}
.dx-pivotgrid-fields-container .dx-sort
{
  color: #959595;
}
.dx-pivotgrid-fields-container .dx-sort-up
{
  font: 14px/1 DXIcons;
}
.dx-pivotgrid-fields-container .dx-sort-up:before
{
  content: "\f051 ";
}
.dx-pivotgrid-fields-container .dx-sort-down
{
  font: 14px/1 DXIcons;
}
.dx-pivotgrid-fields-container .dx-sort-down:before
{
  content: "\f052 ";
}
.dx-pivotgrid-fields-container .dx-header-filter
{
  color: #959595;
  font: 14px/1 DXIcons;
}
.dx-pivotgrid-fields-container .dx-header-filter:before
{
  content: "\f050 ";
}
.dx-pivotgrid-fields-container .dx-header-filter-empty
{
  color: rgba(149,149,149,.5);
}
.dx-pivotgrid-fields-container .dx-area-field
{
  cursor: pointer;
}
.dx-pivotgrid-fields-container.dx-drag
{
  opacity: .8;
}
.dx-pivotgrid-fields-container.dx-drag .dx-area-field.dx-area-box
{
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,.1),0 1px 3px rgba(0,0,0,.2);
  -moz-box-shadow: 0 0 1px rgba(0,0,0,.1),0 1px 3px rgba(0,0,0,.2);
  box-shadow: 0 0 1px rgba(0,0,0,.1),0 1px 3px rgba(0,0,0,.2);
  border: 1px solid rgba(51,122,183,.5);
}
.dx-pivotgrid-fields-container .dx-area-field.dx-area-box
{
  background-color: #fff;
  margin-bottom: 4px;
  border: 1px solid #ddd;
  padding: 5px 6px;
}
.dx-pivotgrid-fields-container .dx-area-fields.dx-drag-target
{
  border-color: #337ab7;
}
.dx-pivotgrid-fields-container .dx-drag-source
{
  opacity: .5;
}
.dx-pivotgrid-fields-container .dx-column-indicators
{
  vertical-align: bottom;
  margin-left: 4px;
}
.dx-pivotgrid-fields-container .dx-area-field-content
{
  vertical-align: bottom;
}
.dx-pivotgrid .dx-column-header .dx-pivotgrid-fields-area, .dx-pivotgrid .dx-filter-header .dx-pivotgrid-fields-area
{
  overflow: hidden;
}
.dx-pivotgrid .dx-column-header .dx-pivotgrid-toolbar, .dx-pivotgrid .dx-filter-header .dx-pivotgrid-toolbar
{
  margin-right: 10px;
  float: right;
  display: inline-block;
}
.dx-pivotgrid .dx-column-header .dx-pivotgrid-toolbar .dx-pivotgrid-field-chooser-button, .dx-pivotgrid .dx-filter-header .dx-pivotgrid-toolbar .dx-pivotgrid-field-chooser-button
{
  margin-right: 4px;
}
.dx-pivotgrid .dx-data-header, .dx-pivotgrid .dx-column-header, .dx-pivotgrid .dx-area-description-cell.dx-pivotgrid-background
{
  background-color: rgba(221,221,221,.2);
}
.dx-pivotgrid .dx-column-header .dx-pivotgrid-fields-area
{
  margin: 0 -5px;
  padding: 0 5px;
}
.dx-pivotgrid .dx-column-header .dx-pivotgrid-fields-area-head tr>td:first-child
{
  padding-left: 0;
}
.dx-pivotgrid .dx-area-field.dx-area-box
{
  margin-bottom: 0;
}
.dx-pivotgrid.dx-row-lines .dx-pivotgrid-area td
{
  border-top: 1px solid #ddd;
}
.dx-pivotgrid.dx-row-lines .dx-pivotgrid-area-data tr:first-child>td
{
  border-top-width: 0;
}
.dx-pivotgrid .dx-expand-icon-container
{
  margin-left: -5px;
  margin-right: 0;
}
.dx-pivotgrid .dx-area-row-cell, .dx-pivotgrid .dx-area-description-cell
{
  border-right: 1px solid #ddd;
}
.dx-pivotgrid .dx-area-description-cell
{
  white-space: nowrap;
}
.dx-pivotgrid .dx-area-description-cell .dx-pivotgrid-toolbar .dx-button
{
  margin: 1px;
}
.dx-pivotgrid .dx-area-description-cell .dx-pivotgrid-toolbar .dx-button:not(.dx-state-hover):not(.dx-state-active)
{
  border-color: transparent;
  background-color: transparent;
  box-shadow: none;
}
.dx-pivotgrid .dx-bottom-border, .dx-pivotgrid .dx-area-description-cell, .dx-pivotgrid .dx-area-column-cell
{
  border-bottom: 1px solid #ddd;
}
.dx-pivotgrid .dx-pivotgrid-area
{
  box-sizing: content-box;
}
.dx-pivotgrid .dx-pivotgrid-area td
{
  color: #959595;
  padding: 5px 6px;
}
.dx-pivotgrid .dx-pivotgrid-fields-area-head td
{
  position: relative;
  border: none;
  padding: 6px 2px;
}
.dx-pivotgrid .dx-pivotgrid-fields-area-head tr>td:first-child
{
  padding-left: 6px;
}
.dx-pivotgrid .dx-pivotgrid-fields-area-head tr>td:last-child
{
  padding-right: 6px;
}
.dx-pivotgrid .dx-pivotgrid-fields-area-head .dx-empty-area-text
{
  white-space: nowrap;
  padding: 6px 0;
  border: 1px solid transparent;
  color: #525252;
}
.dx-pivotgrid .dx-group-connector
{
  position: absolute;
  width: 2px;
  top: 50%;
  height: 2px;
  margin-top: -1px;
  background-color: #ddd;
}
.dx-pivotgrid .dx-group-connector.dx-group-connector-prev
{
  left: 0;
}
.dx-pivotgrid .dx-group-connector.dx-group-connector-next
{
  right: 0;
}
.dx-pivotgrid .dx-virtual-content
{
  display: none;
}
.dx-pivotgrid .dx-virtual-mode .dx-virtual-content
{
  position: relative;
  overflow: hidden;
  display: block;
}
.dx-pivotgrid .dx-virtual-mode .dx-virtual-content table td
{
  color: transparent;
  background-color: transparent !important;
}
.dx-pivotgrid .dx-virtual-mode .dx-virtual-content table td span
{
  visibility: hidden;
}
.dx-pivotgrid .dx-virtual-mode table
{
  position: absolute;
  top: 0;
  left: 0;
}
.dx-pivotgrid .dx-pivotgrid-area-data
{
  position: relative;
}
.dx-pivotgrid .dx-pivotgrid-area-data tbody td
{
  text-align: right;
  color: #333;
  white-space: nowrap;
  border-left: 1px solid #ddd;
}
.dx-pivotgrid .dx-pivotgrid-area-data tbody td:first-child
{
  border-left: 0;
}
.dx-pivotgrid .dx-pivotgrid-area-data tbody tr:first-child .dx-total, .dx-pivotgrid .dx-pivotgrid-area-data tbody tr:first-child .dx-grandtotal
{
  border-top-width: 0;
}
.dx-pivotgrid .dx-pivotgrid-vertical-headers .dx-expand-border
{
  border-top: 1px solid #ddd;
}
.dx-pivotgrid .dx-pivotgrid-vertical-headers .dx-last-cell
{
  border-right: 0;
}
.dx-pivotgrid .dx-pivotgrid-vertical-headers td
{
  min-width: 50px;
  border-right: 1px solid #ddd;
}
.dx-pivotgrid .dx-pivotgrid-vertical-headers tr:first-child td
{
  border-top: 0;
}
.dx-pivotgrid .dx-pivotgrid-vertical-headers .dx-pivotgrid-fields-area-head td:last-child
{
  border-right: 0;
}
.dx-pivotgrid .dx-pivotgrid-vertical-headers .dx-row-total, .dx-pivotgrid .dx-pivotgrid-area-data .dx-row-total
{
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.dx-pivotgrid .dx-area-tree-view .dx-total
{
  border-bottom: none;
}
.dx-pivotgrid .dx-area-tree-view td.dx-white-space-column
{
  border-top: 1px solid transparent;
  background-color: rgba(221,221,221,.2);
  width: 24px;
  padding: 0;
  min-width: 24px;
}
.dx-pivotgrid .dx-pivotgrid-horizontal-headers.dx-vertical-scroll
{
  border-right: 1px solid #ddd;
}
.dx-pivotgrid .dx-pivotgrid-horizontal-headers td
{
  text-align: center;
  border: 1px solid #ddd;
}
.dx-pivotgrid .dx-pivotgrid-horizontal-headers td.dx-pivotgrid-expanded, .dx-pivotgrid .dx-pivotgrid-horizontal-headers td.dx-pivotgrid-collapsed
{
  text-align: left;
}
.dx-pivotgrid .dx-pivotgrid-horizontal-headers td:first-child
{
  border-left: 0;
}
.dx-pivotgrid .dx-pivotgrid-horizontal-headers tr:first-child td
{
  border-top: 0;
}
.dx-pivotgrid .dx-pivotgrid-horizontal-headers:last-child
{
  border-bottom: 0;
}
.dx-pivotgrid .dx-total
{
  background-color: rgba(221,221,221,.2);
}
.dx-pivotgrid .dx-grandtotal
{
  background-color: #f5f5f5;
}
.dx-pivotgrid .dx-pivotgrid-border .dx-data-header, .dx-pivotgrid .dx-pivotgrid-border .dx-filter-header, .dx-pivotgrid .dx-pivotgrid-border .dx-area-description-cell, .dx-pivotgrid .dx-pivotgrid-border .dx-area-row-cell
{
  border-left: 1px solid #ddd;
}
.dx-pivotgrid .dx-pivotgrid-border .dx-filter-header, .dx-pivotgrid .dx-pivotgrid-border .dx-area-column-cell, .dx-pivotgrid .dx-pivotgrid-border .dx-column-header, .dx-pivotgrid .dx-pivotgrid-border .dx-filter-header, .dx-pivotgrid .dx-pivotgrid-border .dx-area-data-cell
{
  border-right: 1px solid #ddd;
}
.dx-pivotgrid .dx-pivotgrid-border .dx-filter-header
{
  border-top: 1px solid #ddd;
}
.dx-pivotgrid .dx-pivotgrid-border .dx-area-data-cell, .dx-pivotgrid .dx-pivotgrid-border .dx-area-row-cell
{
  border-bottom: 1px solid #ddd;
}
.dx-pivotgrid .dx-icon-sorted
{
  display: inline-block;
  margin-left: 5px;
}
.dx-pivotgrid .dx-menu-item .dx-icon
{
  width: 16px;
  height: 16px;
  background-position: 0 0;
  -webkit-background-size: 16px 16px;
  -moz-background-size: 16px 16px;
  background-size: 16px 16px;
  padding: 0;
  font-size: 16px;
  text-align: center;
  line-height: 16px;
}
.dx-pivotgrid .dx-popup-content
{
  padding: 6px;
}
.dx-pivotgrid .dx-popup-content .dx-pivotgrid-fields-area-head td
{
  padding: 0 2px;
}
.dx-pivotgridfieldchooser .dx-area-fields
{
  overflow: hidden;
}
.dx-pivotgridfieldchooser .dx-treeview .dx-treeview-item .dx-icon
{
  width: 16px;
  height: 16px;
  background-position: 0 0;
  -webkit-background-size: 16px 16px;
  -moz-background-size: 16px 16px;
  background-size: 16px 16px;
  padding: 0;
  font-size: 16px;
  text-align: center;
  line-height: 16px;
}
.dx-pivotgridfieldchooser .dx-area-icon
{
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
}
.dx-pivotgridfieldchooser .dx-area
{
  padding: 5px;
}
.dx-pivotgridfieldchooser .dx-area .dx-area-fields
{
  margin-top: 3px;
  border: 1px solid #ddd;
}
.dx-pivotgridfieldchooser .dx-area-fields[group]
{
  padding: 5px;
  background-color: rgba(221,221,221,.2);
}
.dx-pivotgridfieldchooser .dx-area-icon-all
{
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAJElEQVQoz2P8z4AfsDAwJELVzGfExmIiYAAD5QoYRx1JL0cCAJeiFh8Qq9chAAAAAElFTkSuQmCC) no-repeat center center;
}
.dx-pivotgridfieldchooser .dx-area-icon-filter
{
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAWElEQVQoz83RsQqAMAxF0fepFxzEQRz8e1sah0JTamhXeVtyCCSRaR6ZTGQsSHJgcRyk1YQ7aBcuB+KkDO0D9UDsHcmARiC2BqiVEfg2+jOoF30+YPnNWV4jV/jo04VE6gAAAABJRU5ErkJggg==) no-repeat center center;
}
.dx-pivotgridfieldchooser .dx-area-icon-row
{
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAI0lEQVQoz2P4z4AfAlHCfwjEzqKPAsKObIBA7Cz6KBgGIQkAQ8IdQJKOGQIAAAAASUVORK5CYII=) no-repeat center center;
}
.dx-pivotgridfieldchooser .dx-area-icon-column
{
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAIElEQVQoz2P4z4AfAlHCfwgEshogEFmMPgpGHUkfRwIAQ8IdQALkrHMAAAAASUVORK5CYII=) no-repeat center center;
}
.dx-pivotgridfieldchooser .dx-area-icon-data
{
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAARElEQVQoz2P4z4AfMhClIOE/NkiSAl+ooG8CQwKIzwChEQpQlGBXgKYEwxeoSrB6k7ACfFYkYPgDXQGKdAItQpKi2AQAaDQFJxj4SdQAAAAASUVORK5CYII=) no-repeat center center;
}
.dx-pivotgridfieldchooser .dx-icon-measure
{
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAARElEQVQoz2P4z4AfMhClIOE/NkiSAl+ooG8CQwKIzwChEQpQlGBXgKYEwxeoSrB6k7ACfFYkYPgDXQGKdAItQpKi2AQAaDQFJxj4SdQAAAAASUVORK5CYII=) no-repeat center center;
}
.dx-pivotgridfieldchooser .dx-icon-dimension
{
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAH0lEQVQoz2P4z4AfMlBHQcJ/MESjqasAKxx5bqAosgCZ3QSYpC33dQAAAABJRU5ErkJggg==) no-repeat center center;
}
.dx-pivotgridfieldchooser .dx-icon-hierarchy
{
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAMUlEQVQoz2P4z4AfMlBXQcJ/EKShggQoxKEAojsBwxQqKUjACpEVoOhGNYVKCiiKLAATcARoA49V5wAAAABJRU5ErkJggg==) no-repeat center center;
}
.dx-rtl .dx-pivotgrid-fields-container .dx-position-indicator.dx-position-indicator-horizontal
{
  margin-left: -3px;
}
.dx-rtl .dx-pivotgrid-fields-container .dx-position-indicator.dx-position-indicator-horizontal.dx-position-indicator-last
{
  margin-left: 1px;
}
.dx-rtl .dx-pivotgrid-fields-container .dx-column-indicators
{
  margin-left: 0;
  margin-right: 4px;
}
.dx-rtl.dx-pivotgrid .dx-column-header .dx-pivotgrid-toolbar, .dx-rtl.dx-pivotgrid .dx-filter-header .dx-pivotgrid-toolbar
{
  margin-right: 0;
  margin-left: 10px;
  float: left;
}
.dx-rtl.dx-pivotgrid .dx-column-header .dx-pivotgrid-toolbar .dx-pivotgrid-field-chooser-button, .dx-rtl.dx-pivotgrid .dx-filter-header .dx-pivotgrid-toolbar .dx-pivotgrid-field-chooser-button
{
  margin-right: 0;
  margin-left: 4px;
}
.dx-rtl.dx-pivotgrid .dx-column-header .dx-pivotgrid-fields-area-head tr>td:first-child
{
  padding-left: 2px;
  padding-right: 0;
}
.dx-rtl.dx-pivotgrid .dx-pivotgrid-fields-area-head tr>td
{
  padding: 6px 2px;
}
.dx-rtl.dx-pivotgrid .dx-pivotgrid-fields-area-head tr>td:first-child
{
  padding-right: 6px;
}
.dx-rtl.dx-pivotgrid .dx-pivotgrid-fields-area-head tr>td:last-child
{
  padding-left: 6px;
}
.dx-rtl.dx-pivotgrid .dx-group-connector.dx-group-connector-prev
{
  left: initial;
  right: 0;
}
.dx-rtl.dx-pivotgrid .dx-group-connector.dx-group-connector-next
{
  right: initial;
  left: 0;
}
.dx-rtl.dx-pivotgrid .dx-area-row-cell, .dx-rtl.dx-pivotgrid .dx-area-description-cell
{
  border-left: 1px solid #ddd;
  border-right: 0;
}
.dx-rtl.dx-pivotgrid .dx-pivotgrid-area-data tbody td
{
  border-left: 0;
  border-right: 1px solid #ddd;
}
.dx-rtl.dx-pivotgrid .dx-pivotgrid-area-data tbody td:first-child
{
  border-left: 1px solid #ddd;
  border-right: 0;
}
.dx-rtl.dx-pivotgrid .dx-pivotgrid-vertical-headers td
{
  border-right: 0;
  border-left: 1px solid #ddd;
}
.dx-rtl.dx-pivotgrid .dx-pivotgrid-vertical-headers .dx-last-cell
{
  border-left: 0;
  border-right: 0;
}
.dx-rtl.dx-pivotgrid .dx-pivotgrid-horizontal-headers.dx-vertical-scroll
{
  border-right: 0;
  border-left: 1px solid #ddd;
}
.dx-rtl.dx-pivotgrid .dx-pivotgrid-horizontal-headers.dx-pivotgrid-area
{
  border-left: 0;
}
.dx-rtl.dx-pivotgrid .dx-pivotgrid-horizontal-headers td:first-child
{
  border-left: 1px solid #ddd;
  border-right: 0;
}
.dx-rtl.dx-pivotgrid .dx-pivotgrid-horizontal-headers td.dx-pivotgrid-expanded, .dx-rtl.dx-pivotgrid .dx-pivotgrid-horizontal-headers td.dx-pivotgrid-collapsed
{
  text-align: right;
}
.dx-rtl.dx-pivotgrid .dx-expand-icon-container
{
  margin-left: 0;
  margin-right: -5px;
}
.dx-rtl.dx-pivotgrid .dx-pivotgrid-collapsed .dx-expand-icon-container
{
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.dx-rtl.dx-pivotgrid .dx-icon-sorted
{
  margin-left: 0;
  margin-right: 5px;
}
.dx-rtl.dx-pivotgrid .dx-pivotgridfieldchooser-container .dx-col
{
  float: right;
}
.dx-rtl.dx-pivotgrid .dx-pivotgrid-border .dx-area-description-cell, .dx-rtl.dx-pivotgrid .dx-pivotgrid-border .dx-data-header, .dx-rtl.dx-pivotgrid .dx-pivotgrid-border .dx-area-row-cell
{
  border-right: 1px solid #ddd;
}
.dx-rtl.dx-pivotgrid .dx-pivotgrid-border .dx-area-column-cell, .dx-rtl.dx-pivotgrid .dx-pivotgrid-border .dx-column-header, .dx-rtl.dx-pivotgrid .dx-pivotgrid-border .dx-area-data-cell
{
  border-left: 1px solid #ddd;
}
.dx-rtl.dx-pivotgrid .dx-pivotgrid-border .dx-column-header
{
  border-right: none;
}
.dx-rtl.dx-pivotgrid .dx-pivotgrid-border .dx-area-row-cell, .dx-rtl.dx-pivotgrid .dx-pivotgrid-border .dx-data-header
{
  border-left: none;
}
.dx-validationsummary-item
{
  color: #d9534f;
}
.dx-invalid-message>.dx-overlay-content
{
  color: #fff;
  background-color: #d9534f;
}
.dx-scheduler-pseudo-cell:before
{
  content: "";
  width: 100px;
  display: table-cell;
}
.dx-scheduler-small .dx-scheduler-pseudo-cell:before
{
  width: 50px;
}
.dx-scheduler-fixed-appointments
{
  z-index: 100;
  position: absolute;
  left: 100px;
}
.dx-scheduler-small .dx-scheduler-fixed-appointments
{
  left: 50px;
}
.dx-scheduler-header
{
  position: relative;
  z-index: 1;
  width: 100%;
}
.dx-scheduler-navigator
{
  float: left;
  padding-left: 10px;
  white-space: nowrap;
  min-width: 180px;
  max-width: 40%;
}
.dx-device-mobile .dx-scheduler-navigator
{
  padding-left: 5px;
}
.dx-scheduler-navigator-caption
{
  width: 180px;
  min-width: 108px;
  max-width: 80%;
}
.dx-device-mobile .dx-scheduler-navigator-caption
{
  width: 140px;
}
.dx-calendar.dx-scheduler-navigator-calendar
{
  width: 100%;
  height: 100%;
}
.dx-scheduler-view-switcher.dx-tabs
{
  max-width: 60%;
  min-width: 72px;
  width: auto;
  float: right;
  height: 100%;
  border: none;
}
.dx-scheduler-small .dx-scheduler-view-switcher.dx-tabs
{
  display: none;
}
.dx-scheduler-view-switcher.dx-tabs .dx-tabs-scrollable .dx-tabs-wrapper
{
  border-bottom: none;
}
.dx-scheduler-view-switcher.dx-tabs .dx-tab
{
  width: 100px;
}
.dx-scheduler-view-switcher.dx-tabs .dx-tab.dx-tab-selected:before
{
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 2px;
  content: '';
  right: 0;
}
.dx-scheduler-view-switcher.dx-tabs .dx-tab.dx-state-focused:after
{
  border-bottom: none;
}
.dx-scheduler-view-switcher.dx-dropdownmenu.dx-button
{
  position: absolute;
  right: 10px;
}
.dx-scheduler-view-switcher-label
{
  position: absolute;
}
.dx-scheduler-view-switcher-reduced
{
  table-layout: auto;
}
.dx-scheduler-view-switcher-reduced.dx-tabs .dx-tab
{
  width: auto;
  height: 56px;
}
.dx-scheduler-view-switcher-reduced .dx-tabs-wrapper
{
  height: 56px;
}
.dx-scheduler-appointment-content-allday
{
  display: none;
}
.dx-scheduler-work-space
{
  border: 1px solid rgba(221,221,221,.6);
  background-color: #fff;
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 100%;
  width: 100%;
  border-top: none;
}
.dx-scheduler-work-space.dx-scheduler-work-space-grouped:not(.dx-scheduler-agenda) .dx-scheduler-all-day-title
{
  border-top: 1px solid rgba(221,221,221,.6);
}
.dx-scheduler-work-space.dx-scheduler-work-space-grouped:not(.dx-scheduler-agenda) .dx-scheduler-date-table-cell
{
  border-left: 1px solid rgba(221,221,221,.6);
}
.dx-scheduler-work-space.dx-scheduler-work-space-grouped:not(.dx-scheduler-agenda) .dx-scheduler-all-day-panel td
{
  border-left: 1px solid rgba(221,221,221,.6);
  border-top: 1px solid rgba(221,221,221,.6);
}
.dx-scheduler-work-space .dx-scrollable.dx-scheduler-date-table-scrollable, .dx-scheduler-work-space .dx-scrollable.dx-scheduler-sidebar-scrollable
{
  padding-bottom: 50px;
  margin-bottom: -50px;
}
.dx-scheduler-work-space[dx-group-row-count='1'] .dx-scrollable.dx-scheduler-date-table-scrollable, .dx-scheduler-work-space[dx-group-row-count='1'] .dx-scrollable.dx-scheduler-sidebar-scrollable
{
  padding-bottom: 80px;
  margin-bottom: -80px;
}
.dx-scheduler-work-space[dx-group-row-count='2'] .dx-scrollable.dx-scheduler-date-table-scrollable, .dx-scheduler-work-space[dx-group-row-count='2'] .dx-scrollable.dx-scheduler-sidebar-scrollable
{
  padding-bottom: 110px;
  margin-bottom: -110px;
}
.dx-scheduler-work-space[dx-group-row-count='3'] .dx-scrollable.dx-scheduler-date-table-scrollable, .dx-scheduler-work-space[dx-group-row-count='3'] .dx-scrollable.dx-scheduler-sidebar-scrollable
{
  padding-bottom: 140px;
  margin-bottom: -140px;
}
.dx-scheduler-work-space.dx-scheduler-work-space-all-day .dx-scrollable.dx-scheduler-date-table-scrollable, .dx-scheduler-work-space.dx-scheduler-work-space-all-day .dx-scrollable.dx-scheduler-sidebar-scrollable
{
  padding-bottom: 125px;
  margin-bottom: -125px;
}
.dx-scheduler-work-space.dx-scheduler-work-space-all-day[dx-group-row-count='1'] .dx-scrollable.dx-scheduler-date-table-scrollable, .dx-scheduler-work-space.dx-scheduler-work-space-all-day[dx-group-row-count='1'] .dx-scrollable.dx-scheduler-sidebar-scrollable
{
  padding-bottom: 155px;
  margin-bottom: -155px;
}
.dx-scheduler-work-space.dx-scheduler-work-space-all-day[dx-group-row-count='2'] .dx-scrollable.dx-scheduler-date-table-scrollable, .dx-scheduler-work-space.dx-scheduler-work-space-all-day[dx-group-row-count='2'] .dx-scrollable.dx-scheduler-sidebar-scrollable
{
  padding-bottom: 185px;
  margin-bottom: -185px;
}
.dx-scheduler-work-space.dx-scheduler-work-space-all-day[dx-group-row-count='3'] .dx-scrollable.dx-scheduler-date-table-scrollable, .dx-scheduler-work-space.dx-scheduler-work-space-all-day[dx-group-row-count='3'] .dx-scrollable.dx-scheduler-sidebar-scrollable
{
  padding-bottom: 215px;
  margin-bottom: -215px;
}
.dx-scheduler-work-space.dx-scheduler-work-space-all-day-collapsed .dx-scrollable.dx-scheduler-date-table-scrollable, .dx-scheduler-work-space.dx-scheduler-work-space-all-day-collapsed .dx-scrollable.dx-scheduler-sidebar-scrollable
{
  padding-bottom: 75px;
  margin-bottom: -75px;
}
.dx-scheduler-work-space.dx-scheduler-work-space-all-day-collapsed[dx-group-row-count='1'] .dx-scrollable.dx-scheduler-date-table-scrollable, .dx-scheduler-work-space.dx-scheduler-work-space-all-day-collapsed[dx-group-row-count='1'] .dx-scrollable.dx-scheduler-sidebar-scrollable
{
  padding-bottom: 105px;
  margin-bottom: -105px;
}
.dx-scheduler-work-space.dx-scheduler-work-space-all-day-collapsed[dx-group-row-count='2'] .dx-scrollable.dx-scheduler-date-table-scrollable, .dx-scheduler-work-space.dx-scheduler-work-space-all-day-collapsed[dx-group-row-count='2'] .dx-scrollable.dx-scheduler-sidebar-scrollable
{
  padding-bottom: 135px;
  margin-bottom: -135px;
}
.dx-scheduler-work-space.dx-scheduler-work-space-all-day-collapsed[dx-group-row-count='3'] .dx-scrollable.dx-scheduler-date-table-scrollable, .dx-scheduler-work-space.dx-scheduler-work-space-all-day-collapsed[dx-group-row-count='3'] .dx-scrollable.dx-scheduler-sidebar-scrollable
{
  padding-bottom: 165px;
  margin-bottom: -165px;
}
.dx-scheduler-work-space:not(.dx-scheduler-work-space-all-day).dx-scheduler-work-space:not(.dx-scheduler-work-space-month).dx-scheduler-work-space:not(.dx-scheduler-timeline) .dx-scheduler-header-panel
{
  border-bottom: 2px solid rgba(221,221,221,.6);
}
.dx-scheduler-work-space.dx-scheduler-work-space-month .dx-scheduler-header-panel
{
  border-bottom: 1px solid rgba(221,221,221,.6);
}
.dx-scheduler-date-table-scrollable .dx-scrollable-content
{
  overflow: hidden;
  position: relative;
}
.dx-scheduler-date-table-cell
{
  border-top: 1px solid rgba(221,221,221,.6);
}
.dx-scheduler-date-table-cell, .dx-scheduler-header-panel-cell, .dx-scheduler-time-panel-cell, .dx-scheduler-group-header
{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  cursor: default;
}
.dx-scheduler-date-table-current-date
{
  font-weight: bold;
}
.dx-scheduler-date-table-other-month
{
  opacity: .5;
}
.dx-scheduler-work-space-day .dx-scheduler-date-table-row:nth-child(odd) .dx-scheduler-date-table-cell, .dx-scheduler-work-space-week .dx-scheduler-date-table-row:nth-child(odd) .dx-scheduler-date-table-cell, .dx-scheduler-work-space-work-week .dx-scheduler-date-table-row:nth-child(odd) .dx-scheduler-date-table-cell
{
  border-top: 1px solid #c4c4c4;
}
.dx-scheduler-work-space-day .dx-scrollable.dx-scheduler-date-table-scrollable, .dx-scheduler-work-space-day .dx-scrollable.dx-scheduler-sidebar-scrollable
{
  padding-bottom: 0;
  margin-bottom: 0;
}
.dx-scheduler-work-space-day[dx-group-row-count='1'] .dx-scrollable.dx-scheduler-date-table-scrollable, .dx-scheduler-work-space-day[dx-group-row-count='1'] .dx-scrollable.dx-scheduler-sidebar-scrollable
{
  padding-bottom: 30px;
  margin-bottom: -30px;
}
.dx-scheduler-work-space-day[dx-group-row-count='2'] .dx-scrollable.dx-scheduler-date-table-scrollable, .dx-scheduler-work-space-day[dx-group-row-count='2'] .dx-scrollable.dx-scheduler-sidebar-scrollable
{
  padding-bottom: 60px;
  margin-bottom: -60px;
}
.dx-scheduler-work-space-day[dx-group-row-count='3'] .dx-scrollable.dx-scheduler-date-table-scrollable, .dx-scheduler-work-space-day[dx-group-row-count='3'] .dx-scrollable.dx-scheduler-sidebar-scrollable
{
  padding-bottom: 90px;
  margin-bottom: -90px;
}
.dx-scheduler-work-space-day.dx-scheduler-work-space-all-day .dx-scrollable.dx-scheduler-date-table-scrollable, .dx-scheduler-work-space-day.dx-scheduler-work-space-all-day .dx-scrollable.dx-scheduler-sidebar-scrollable
{
  padding-bottom: 75px;
  margin-bottom: -75px;
}
.dx-scheduler-work-space-day.dx-scheduler-work-space-all-day[dx-group-row-count='1'] .dx-scrollable.dx-scheduler-date-table-scrollable, .dx-scheduler-work-space-day.dx-scheduler-work-space-all-day[dx-group-row-count='1'] .dx-scrollable.dx-scheduler-sidebar-scrollable
{
  padding-bottom: 105px;
  margin-bottom: -105px;
}
.dx-scheduler-work-space-day.dx-scheduler-work-space-all-day[dx-group-row-count='2'] .dx-scrollable.dx-scheduler-date-table-scrollable, .dx-scheduler-work-space-day.dx-scheduler-work-space-all-day[dx-group-row-count='2'] .dx-scrollable.dx-scheduler-sidebar-scrollable
{
  padding-bottom: 135px;
  margin-bottom: -135px;
}
.dx-scheduler-work-space-day.dx-scheduler-work-space-all-day[dx-group-row-count='3'] .dx-scrollable.dx-scheduler-date-table-scrollable, .dx-scheduler-work-space-day.dx-scheduler-work-space-all-day[dx-group-row-count='3'] .dx-scrollable.dx-scheduler-sidebar-scrollable
{
  padding-bottom: 165px;
  margin-bottom: -165px;
}
.dx-scheduler-work-space-day.dx-scheduler-work-space-all-day-collapsed .dx-scrollable.dx-scheduler-date-table-scrollable, .dx-scheduler-work-space-day.dx-scheduler-work-space-all-day-collapsed .dx-scrollable.dx-scheduler-sidebar-scrollable
{
  padding-bottom: 25px;
  margin-bottom: -25px;
}
.dx-scheduler-work-space-day.dx-scheduler-work-space-all-day-collapsed[dx-group-row-count='1'] .dx-scrollable.dx-scheduler-date-table-scrollable, .dx-scheduler-work-space-day.dx-scheduler-work-space-all-day-collapsed[dx-group-row-count='1'] .dx-scrollable.dx-scheduler-sidebar-scrollable
{
  padding-bottom: 55px;
  margin-bottom: -55px;
}
.dx-scheduler-work-space-day.dx-scheduler-work-space-all-day-collapsed[dx-group-row-count='2'] .dx-scrollable.dx-scheduler-date-table-scrollable, .dx-scheduler-work-space-day.dx-scheduler-work-space-all-day-collapsed[dx-group-row-count='2'] .dx-scrollable.dx-scheduler-sidebar-scrollable
{
  padding-bottom: 85px;
  margin-bottom: -85px;
}
.dx-scheduler-work-space-day.dx-scheduler-work-space-all-day-collapsed[dx-group-row-count='3'] .dx-scrollable.dx-scheduler-date-table-scrollable, .dx-scheduler-work-space-day.dx-scheduler-work-space-all-day-collapsed[dx-group-row-count='3'] .dx-scrollable.dx-scheduler-sidebar-scrollable
{
  padding-bottom: 115px;
  margin-bottom: -115px;
}
.dx-scheduler-work-space-day .dx-scheduler-date-table-cell
{
  border-left: none;
  border-right: none;
}
.dx-scheduler-work-space-day:not(.dx-scheduler-work-space-grouped) .dx-scheduler-header-panel
{
  margin-top: 1px;
}
.dx-scheduler-work-space-day .dx-scheduler-date-table-row:first-child .dx-scheduler-date-table-cell, .dx-scheduler-work-space-work-week .dx-scheduler-date-table-row:first-child .dx-scheduler-date-table-cell, .dx-scheduler-work-space-week .dx-scheduler-date-table .dx-scheduler-date-table-row:first-child .dx-scheduler-date-table-cell
{
  border-top: none;
}
.dx-scheduler-all-day-table-cell
{
  border-left: 1px solid rgba(221,221,221,.6);
  border-top: 1px solid rgba(221,221,221,.6);
}
.dx-scheduler-work-space-day .dx-scheduler-all-day-table-cell
{
  border-top: none;
  border-left: none;
}
.dx-scheduler-work-space-week .dx-scheduler-all-day-title, .dx-scheduler-work-space-work-week .dx-scheduler-all-day-title
{
  border-top: 1px solid rgba(221,221,221,.6);
}
.dx-scheduler-work-space-month .dx-scrollable .dx-scrollable-content
{
  height: 100%;
}
.dx-scheduler-work-space-month .dx-scheduler-all-day-title
{
  display: none;
}
.dx-scheduler-work-space-month .dx-scheduler-header-panel
{
  width: 100%;
  margin-left: 0;
}
.dx-scheduler-small .dx-scheduler-work-space-month .dx-scheduler-header-panel
{
  margin-left: 0;
}
.dx-scheduler-work-space-month .dx-scheduler-header-panel .dx-scheduler-group-row:before, .dx-scheduler-work-space-month .dx-scheduler-header-panel .dx-scheduler-header-row:before
{
  display: none;
}
.dx-scheduler-work-space-month .dx-scheduler-date-table
{
  width: 100%;
  height: 100%;
  margin-left: 0;
}
.dx-scheduler-small .dx-scheduler-work-space-month .dx-scheduler-date-table
{
  margin-left: 0;
}
.dx-scheduler-work-space-month .dx-scheduler-date-table .dx-scheduler-date-table-row:before
{
  display: none;
}
.dx-scheduler-work-space-month .dx-scheduler-date-table-cell, .dx-scheduler-work-space-month .dx-scheduler-header-panel-cell
{
  border-right: none;
}
.dx-scheduler-work-space-month .dx-scheduler-date-table-cell:first-child, .dx-scheduler-work-space-month .dx-scheduler-header-panel-cell:first-child
{
  border-left: none;
}
.dx-scheduler-work-space-month .dx-scheduler-all-day-table-cell, .dx-scheduler-work-space-month .dx-scheduler-date-table-cell
{
  height: auto;
  vertical-align: top;
  text-align: right;
  font-size: 16px;
  padding-right: 6px;
  color: #959595;
}
.dx-scheduler-work-space-month .dx-scheduler-all-day-table-cell.dx-state-focused, .dx-scheduler-work-space-month .dx-scheduler-date-table-cell.dx-state-focused
{
  background-position: 10% 10%;
}
.dx-scheduler-work-space-month .dx-scheduler-appointment-content
{
  padding: 0 7px;
}
.dx-scheduler-work-space-month .dx-scheduler-appointment-recurrence .dx-scheduler-appointment-content
{
  padding: 0 25px 0 7px;
}
.dx-rtl .dx-scheduler-work-space-month .dx-scheduler-appointment-recurrence .dx-scheduler-appointment-content
{
  padding: 0 7px 0 25px;
}
.dx-scheduler-work-space-month .dx-scheduler-appointment-recurrence-icon
{
  top: 0;
}
.dx-scheduler-work-space-month .dx-scheduler-fixed-appointments
{
  left: 0;
}
.dx-scheduler-work-space-month .dx-scheduler-all-day-panel, .dx-scheduler-timeline .dx-scheduler-all-day-panel, .dx-scheduler-work-space-month .dx-scheduler-all-day-title, .dx-scheduler-timeline .dx-scheduler-all-day-title
{
  display: none;
}
.dx-scheduler-timeline .dx-scheduler-header-row:before, .dx-scheduler-timeline .dx-scheduler-date-table .dx-scheduler-date-table-row:before
{
  content: none;
}
.dx-scheduler-timeline .dx-scheduler-date-table
{
  margin-left: 0;
}
.dx-scheduler-timeline .dx-scheduler-header-panel-cell, .dx-scheduler-timeline .dx-scheduler-date-table-cell
{
  width: 200px;
}
.dx-scheduler-timeline .dx-scheduler-group-table
{
  border-spacing: 0;
  border-collapse: collapse;
  border-top: 1px solid rgba(221,221,221,.6);
}
.dx-scheduler-timeline[dx-group-column-count='2'] .dx-scheduler-group-header:last-child, .dx-scheduler-timeline[dx-group-column-count='3'] .dx-scheduler-group-header:last-child
{
  font-weight: normal;
  text-align: left;
}
.dx-scheduler-timeline .dx-scheduler-fixed-appointments
{
  left: 0;
}
.dx-scheduler-timeline .dx-scheduler-group-header
{
  padding: 0 10px 0 5px;
}
.dx-scheduler-timeline .dx-scheduler-group-header .dx-scheduler-group-header-content
{
  overflow: hidden;
}
.dx-scheduler-timeline .dx-scheduler-group-header .dx-scheduler-group-header-content div
{
  position: relative;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  -moz-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  -o-transform: translate(0,-50%);
  transform: translate(0,-50%);
  white-space: normal;
  line-height: normal;
}
.dx-scheduler-timeline .dx-scheduler-date-table, .dx-scheduler-timeline .dx-scheduler-date-table-scrollable .dx-scrollable-content, .dx-scheduler-timeline .dx-scheduler-sidebar-scrollable .dx-scrollable-content, .dx-scheduler-timeline .dx-scheduler-group-table
{
  height: 100%;
}
.dx-scheduler-timeline.dx-scheduler-work-space-both-scrollbar .dx-scheduler-date-table-scrollable .dx-scrollable-content, .dx-scheduler-timeline.dx-scheduler-work-space-both-scrollbar .dx-scheduler-sidebar-scrollable .dx-scrollable-content, .dx-scheduler-timeline.dx-scheduler-work-space-both-scrollbar .dx-scheduler-group-table
{
  height: auto;
  border-top: 1px solid transparent;
}
.dx-scheduler-timeline.dx-scheduler-work-space-both-scrollbar .dx-scheduler-date-table .dx-scheduler-date-table-row:first-child .dx-scheduler-date-table-cell
{
  border-top: none;
}
.dx-scheduler-timeline.dx-scheduler-work-space-both-scrollbar .dx-scheduler-header-panel
{
  border-bottom: 1px solid #c4c4c4;
}
.dx-scheduler-timeline.dx-scheduler-work-space-both-scrollbar.dx-scheduler-work-space-grouped .dx-scheduler-sidebar-scrollable:before
{
  border-bottom: 1px solid #c4c4c4;
}
.dx-scheduler-timeline .dx-scheduler-date-table-scrollable
{
  padding-bottom: 50px;
  margin-bottom: -50px;
}
.dx-scheduler-timeline .dx-scheduler-header-scrollable
{
  height: auto;
}
.dx-scheduler-timeline .dx-scheduler-sidebar-scrollable
{
  display: none;
}
.dx-scheduler-timeline.dx-scheduler-work-space-grouped .dx-scheduler-sidebar-scrollable
{
  display: block;
  float: left;
  padding-bottom: 50px;
  margin-bottom: -50px;
}
.dx-scheduler-timeline.dx-scheduler-work-space-grouped .dx-scheduler-sidebar-scrollable:before
{
  content: "";
  height: 50px;
  position: absolute;
  display: block;
  margin-top: -50px;
  left: 0;
  border-right: 1px solid rgba(221,221,221,.6);
}
.dx-scheduler-timeline.dx-scheduler-work-space-grouped .dx-scheduler-group-row .dx-scheduler-group-header
{
  border: none;
  border-top: 1px solid rgba(221,221,221,.6);
}
.dx-scheduler-timeline.dx-scheduler-work-space-grouped .dx-scheduler-group-table
{
  border-right: 1px solid rgba(221,221,221,.6);
}
.dx-scheduler-timeline.dx-scheduler-work-space-grouped .dx-scheduler-date-table-row .dx-scheduler-date-table-cell:first-child, .dx-scheduler-timeline.dx-scheduler-work-space-grouped .dx-scheduler-header-row .dx-scheduler-header-panel-cell:first-child
{
  border-left: none;
}
.dx-scheduler-timeline.dx-scheduler-work-space-grouped .dx-scheduler-group-row:before
{
  display: none;
}
.dx-scheduler-timeline.dx-scheduler-work-space-grouped .dx-scheduler-group-row:first-child .dx-scheduler-group-header
{
  border-top: none;
}
.dx-scheduler-timeline.dx-scheduler-work-space-grouped .dx-scheduler-work-space-both-scrollbar .dx-scheduler-date-table-scrollable
{
  margin-left: 0;
}
.dx-scheduler-timeline.dx-scheduler-work-space-grouped .dx-scheduler-work-space-both-scrollbar .dx-scheduler-header-scrollable.dx-scrollable
{
  margin: 0;
  padding: 0;
}
.dx-rtl .dx-scheduler-timeline.dx-scheduler-work-space-grouped .dx-scheduler-work-space-both-scrollbar .dx-scheduler-header-scrollable.dx-scrollable
{
  margin: 0;
}
.dx-scheduler-timeline.dx-scheduler-work-space-grouped[dx-group-column-count='1'] .dx-scheduler-group-table, .dx-scheduler-timeline.dx-scheduler-work-space-grouped[dx-group-column-count='1'] .dx-scheduler-sidebar-scrollable, .dx-scheduler-timeline.dx-scheduler-work-space-grouped[dx-group-column-count='1'] .dx-scheduler-sidebar-scrollable:before
{
  width: 100px;
}
.dx-scheduler-timeline.dx-scheduler-work-space-grouped[dx-group-column-count='1'] .dx-scheduler-date-table-scrollable, .dx-scheduler-timeline.dx-scheduler-work-space-grouped[dx-group-column-count='1'] .dx-scheduler-header-scrollable
{
  margin-left: 100px;
}
.dx-rtl .dx-scheduler-timeline.dx-scheduler-work-space-grouped[dx-group-column-count='1'] .dx-scheduler-date-table-scrollable, .dx-rtl .dx-scheduler-timeline.dx-scheduler-work-space-grouped[dx-group-column-count='1'] .dx-scheduler-header-scrollable
{
  margin-right: 100px;
  margin-left: 0;
}
.dx-scheduler-timeline.dx-scheduler-work-space-grouped[dx-group-column-count='1'] .dx-scheduler-fixed-appointments
{
  left: 100px;
}
.dx-scheduler-timeline.dx-scheduler-work-space-grouped[dx-group-column-count='2'] .dx-scheduler-group-table, .dx-scheduler-timeline.dx-scheduler-work-space-grouped[dx-group-column-count='2'] .dx-scheduler-sidebar-scrollable, .dx-scheduler-timeline.dx-scheduler-work-space-grouped[dx-group-column-count='2'] .dx-scheduler-sidebar-scrollable:before
{
  width: 160px;
}
.dx-scheduler-timeline.dx-scheduler-work-space-grouped[dx-group-column-count='2'] .dx-scheduler-date-table-scrollable, .dx-scheduler-timeline.dx-scheduler-work-space-grouped[dx-group-column-count='2'] .dx-scheduler-header-scrollable
{
  margin-left: 160px;
}
.dx-rtl .dx-scheduler-timeline.dx-scheduler-work-space-grouped[dx-group-column-count='2'] .dx-scheduler-date-table-scrollable, .dx-rtl .dx-scheduler-timeline.dx-scheduler-work-space-grouped[dx-group-column-count='2'] .dx-scheduler-header-scrollable
{
  margin-right: 160px;
  margin-left: 0;
}
.dx-scheduler-timeline.dx-scheduler-work-space-grouped[dx-group-column-count='2'] .dx-scheduler-fixed-appointments
{
  left: 160px;
}
.dx-scheduler-timeline.dx-scheduler-work-space-grouped[dx-group-column-count='3'] .dx-scheduler-group-table, .dx-scheduler-timeline.dx-scheduler-work-space-grouped[dx-group-column-count='3'] .dx-scheduler-sidebar-scrollable, .dx-scheduler-timeline.dx-scheduler-work-space-grouped[dx-group-column-count='3'] .dx-scheduler-sidebar-scrollable:before
{
  width: 180px;
}
.dx-scheduler-timeline.dx-scheduler-work-space-grouped[dx-group-column-count='3'] .dx-scheduler-date-table-scrollable, .dx-scheduler-timeline.dx-scheduler-work-space-grouped[dx-group-column-count='3'] .dx-scheduler-header-scrollable
{
  margin-left: 180px;
}
.dx-rtl .dx-scheduler-timeline.dx-scheduler-work-space-grouped[dx-group-column-count='3'] .dx-scheduler-date-table-scrollable, .dx-rtl .dx-scheduler-timeline.dx-scheduler-work-space-grouped[dx-group-column-count='3'] .dx-scheduler-header-scrollable
{
  margin-right: 180px;
  margin-left: 0;
}
.dx-scheduler-timeline.dx-scheduler-work-space-grouped[dx-group-column-count='3'] .dx-scheduler-fixed-appointments
{
  left: 180px;
}
.dx-scheduler-work-space.dx-scheduler-timeline-week[dx-group-row-count='1'] .dx-scheduler-header-scrollable, .dx-scheduler-work-space.dx-scheduler-timeline-work-week[dx-group-row-count='1'] .dx-scheduler-header-scrollable
{
  height: 121px;
}
.dx-scheduler-work-space.dx-scheduler-timeline-week[dx-group-row-count='2'] .dx-scheduler-header-scrollable, .dx-scheduler-work-space.dx-scheduler-timeline-work-week[dx-group-row-count='2'] .dx-scheduler-header-scrollable
{
  height: 151px;
}
.dx-scheduler-work-space.dx-scheduler-timeline-week[dx-group-row-count='3'] .dx-scheduler-header-scrollable, .dx-scheduler-work-space.dx-scheduler-timeline-work-week[dx-group-row-count='3'] .dx-scheduler-header-scrollable
{
  height: 181px;
}
.dx-scheduler-work-space.dx-scheduler-timeline-week .dx-scheduler-header-scrollable, .dx-scheduler-work-space.dx-scheduler-timeline-work-week .dx-scheduler-header-scrollable
{
  height: 91px;
}
.dx-scheduler-work-space.dx-scheduler-timeline-week.dx-scheduler-work-space-grouped .dx-scheduler-sidebar-scrollable, .dx-scheduler-work-space.dx-scheduler-timeline-work-week.dx-scheduler-work-space-grouped .dx-scheduler-sidebar-scrollable
{
  padding-bottom: 90px;
  margin-bottom: -90px;
}
.dx-scheduler-work-space.dx-scheduler-timeline-week.dx-scheduler-work-space-grouped .dx-scheduler-sidebar-scrollable:before, .dx-scheduler-work-space.dx-scheduler-timeline-work-week.dx-scheduler-work-space-grouped .dx-scheduler-sidebar-scrollable:before
{
  height: 91px;
}
.dx-scheduler-work-space.dx-scheduler-timeline-week .dx-scrollable.dx-scheduler-date-table-scrollable, .dx-scheduler-work-space.dx-scheduler-timeline-work-week .dx-scrollable.dx-scheduler-date-table-scrollable
{
  padding-bottom: 90px;
  margin-bottom: -90px;
}
.dx-scheduler-work-space-week .dx-scheduler-header-panel-cell:nth-child(7n), .dx-scheduler-work-space-month .dx-scheduler-header-panel-cell:nth-child(7n), .dx-scheduler-work-space-week .dx-scheduler-date-table-cell:nth-child(7n), .dx-scheduler-work-space-month .dx-scheduler-date-table-cell:nth-child(7n), .dx-scheduler-work-space-week .dx-scheduler-all-day-table-cell:nth-child(7n), .dx-scheduler-work-space-month .dx-scheduler-all-day-table-cell:nth-child(7n)
{
  border-right: none;
}
.dx-rtl .dx-scheduler-work-space-week .dx-scheduler-header-panel-cell:nth-child(7n), .dx-rtl .dx-scheduler-work-space-month .dx-scheduler-header-panel-cell:nth-child(7n), .dx-rtl .dx-scheduler-work-space-week .dx-scheduler-date-table-cell:nth-child(7n), .dx-rtl .dx-scheduler-work-space-month .dx-scheduler-date-table-cell:nth-child(7n), .dx-rtl .dx-scheduler-work-space-week .dx-scheduler-all-day-table-cell:nth-child(7n), .dx-rtl .dx-scheduler-work-space-month .dx-scheduler-all-day-table-cell:nth-child(7n)
{
  border-left: none;
}
.dx-scheduler-work-space-work-week .dx-scheduler-header-panel-cell:nth-child(5n), .dx-scheduler-work-space-work-week .dx-scheduler-date-table-cell:nth-child(5n), .dx-scheduler-work-space-work-week .dx-scheduler-all-day-table-cell:nth-child(5n)
{
  border-right: none;
}
.dx-rtl .dx-scheduler-work-space-work-week .dx-scheduler-header-panel-cell:nth-child(5n), .dx-rtl .dx-scheduler-work-space-work-week .dx-scheduler-date-table-cell:nth-child(5n), .dx-rtl .dx-scheduler-work-space-work-week .dx-scheduler-all-day-table-cell:nth-child(5n)
{
  border-left: none;
}
.dx-scheduler-work-space-day .dx-scheduler-header-panel-cell:nth-child(1n), .dx-scheduler-work-space-day .dx-scheduler-date-table-cell:nth-child(1n), .dx-scheduler-work-space-day .dx-scheduler-all-day-table-cell:nth-child(1n)
{
  border-right: none;
}
.dx-rtl .dx-scheduler-work-space-day .dx-scheduler-header-panel-cell:nth-child(1n), .dx-rtl .dx-scheduler-work-space-day .dx-scheduler-date-table-cell:nth-child(1n), .dx-rtl .dx-scheduler-work-space-day .dx-scheduler-all-day-table-cell:nth-child(1n)
{
  border-left: none;
}
.dx-scheduler-header-panel
{
  border-collapse: collapse;
  table-layout: fixed;
  margin-top: 10px;
  width: 100%;
  font-size: 20px;
}
.dx-scheduler-all-day-title-hidden
{
  display: none;
}
.dx-scheduler-work-space:not(.dx-scheduler-work-space-all-day) .dx-scheduler-all-day-title-hidden
{
  display: block;
  background-color: transparent;
  color: transparent;
  border-left: none;
  border-right: none;
  border-bottom: none;
  height: 0;
}
.dx-scheduler-work-space-grouped:not(.dx-scheduler-work-space-all-day):not(.dx-scheduler-timeline):not(.dx-scheduler-agenda):not(.dx-scheduler-work-space-month)[dx-group-row-count='1'] .dx-scheduler-header-scrollable
{
  height: 81px;
}
.dx-scheduler-work-space-grouped:not(.dx-scheduler-work-space-all-day):not(.dx-scheduler-timeline):not(.dx-scheduler-agenda):not(.dx-scheduler-work-space-month)[dx-group-row-count='2'] .dx-scheduler-header-scrollable
{
  height: 111px;
}
.dx-scheduler-work-space-grouped:not(.dx-scheduler-work-space-all-day):not(.dx-scheduler-timeline):not(.dx-scheduler-agenda):not(.dx-scheduler-work-space-month)[dx-group-row-count='3'] .dx-scheduler-header-scrollable
{
  height: 141px;
}
.dx-scheduler-work-space-grouped:not(.dx-scheduler-work-space-all-day):not(.dx-scheduler-timeline):not(.dx-scheduler-agenda):not(.dx-scheduler-work-space-month) .dx-scheduler-header-scrollable
{
  height: 51px;
}
.dx-scheduler-work-space-grouped:not(.dx-scheduler-work-space-all-day):not(.dx-scheduler-timeline):not(.dx-scheduler-agenda):not(.dx-scheduler-work-space-month) .dx-scrollable.dx-scheduler-date-table-scrollable, .dx-scheduler-work-space-grouped:not(.dx-scheduler-work-space-all-day):not(.dx-scheduler-timeline):not(.dx-scheduler-agenda):not(.dx-scheduler-work-space-month) .dx-scrollable.dx-scheduler-sidebar-scrollable
{
  padding-bottom: 50px;
  margin-bottom: -50px;
}
.dx-scheduler-work-space-grouped:not(.dx-scheduler-work-space-all-day):not(.dx-scheduler-timeline):not(.dx-scheduler-agenda):not(.dx-scheduler-work-space-month)[dx-group-row-count='1'] .dx-scrollable.dx-scheduler-date-table-scrollable, .dx-scheduler-work-space-grouped:not(.dx-scheduler-work-space-all-day):not(.dx-scheduler-timeline):not(.dx-scheduler-agenda):not(.dx-scheduler-work-space-month)[dx-group-row-count='1'] .dx-scrollable.dx-scheduler-sidebar-scrollable
{
  padding-bottom: 80px;
  margin-bottom: -80px;
}
.dx-scheduler-work-space-grouped:not(.dx-scheduler-work-space-all-day):not(.dx-scheduler-timeline):not(.dx-scheduler-agenda):not(.dx-scheduler-work-space-month)[dx-group-row-count='2'] .dx-scrollable.dx-scheduler-date-table-scrollable, .dx-scheduler-work-space-grouped:not(.dx-scheduler-work-space-all-day):not(.dx-scheduler-timeline):not(.dx-scheduler-agenda):not(.dx-scheduler-work-space-month)[dx-group-row-count='2'] .dx-scrollable.dx-scheduler-sidebar-scrollable
{
  padding-bottom: 110px;
  margin-bottom: -110px;
}
.dx-scheduler-work-space-grouped:not(.dx-scheduler-work-space-all-day):not(.dx-scheduler-timeline):not(.dx-scheduler-agenda):not(.dx-scheduler-work-space-month)[dx-group-row-count='3'] .dx-scrollable.dx-scheduler-date-table-scrollable, .dx-scheduler-work-space-grouped:not(.dx-scheduler-work-space-all-day):not(.dx-scheduler-timeline):not(.dx-scheduler-agenda):not(.dx-scheduler-work-space-month)[dx-group-row-count='3'] .dx-scrollable.dx-scheduler-sidebar-scrollable
{
  padding-bottom: 140px;
  margin-bottom: -140px;
}
.dx-scheduler-work-space-grouped:not(.dx-scheduler-work-space-all-day):not(.dx-scheduler-timeline):not(.dx-scheduler-agenda):not(.dx-scheduler-work-space-month).dx-scheduler-work-space-day[dx-group-row-count='1'] .dx-scheduler-header-scrollable
{
  height: 41px;
}
.dx-scheduler-work-space-grouped:not(.dx-scheduler-work-space-all-day):not(.dx-scheduler-timeline):not(.dx-scheduler-agenda):not(.dx-scheduler-work-space-month).dx-scheduler-work-space-day[dx-group-row-count='2'] .dx-scheduler-header-scrollable
{
  height: 71px;
}
.dx-scheduler-work-space-grouped:not(.dx-scheduler-work-space-all-day):not(.dx-scheduler-timeline):not(.dx-scheduler-agenda):not(.dx-scheduler-work-space-month).dx-scheduler-work-space-day[dx-group-row-count='3'] .dx-scheduler-header-scrollable
{
  height: 101px;
}
.dx-scheduler-work-space-grouped:not(.dx-scheduler-work-space-all-day):not(.dx-scheduler-timeline):not(.dx-scheduler-agenda):not(.dx-scheduler-work-space-month).dx-scheduler-work-space-day .dx-scheduler-header-scrollable
{
  height: 11px;
}
.dx-scheduler-work-space-grouped:not(.dx-scheduler-work-space-all-day):not(.dx-scheduler-timeline):not(.dx-scheduler-agenda):not(.dx-scheduler-work-space-month).dx-scheduler-work-space-day .dx-scrollable.dx-scheduler-date-table-scrollable, .dx-scheduler-work-space-grouped:not(.dx-scheduler-work-space-all-day):not(.dx-scheduler-timeline):not(.dx-scheduler-agenda):not(.dx-scheduler-work-space-month).dx-scheduler-work-space-day .dx-scrollable.dx-scheduler-sidebar-scrollable
{
  padding-bottom: 10px;
  margin-bottom: -10px;
}
.dx-scheduler-work-space-grouped:not(.dx-scheduler-work-space-all-day):not(.dx-scheduler-timeline):not(.dx-scheduler-agenda):not(.dx-scheduler-work-space-month).dx-scheduler-work-space-day[dx-group-row-count='1'] .dx-scrollable.dx-scheduler-date-table-scrollable, .dx-scheduler-work-space-grouped:not(.dx-scheduler-work-space-all-day):not(.dx-scheduler-timeline):not(.dx-scheduler-agenda):not(.dx-scheduler-work-space-month).dx-scheduler-work-space-day[dx-group-row-count='1'] .dx-scrollable.dx-scheduler-sidebar-scrollable
{
  padding-bottom: 40px;
  margin-bottom: -40px;
}
.dx-scheduler-work-space-grouped:not(.dx-scheduler-work-space-all-day):not(.dx-scheduler-timeline):not(.dx-scheduler-agenda):not(.dx-scheduler-work-space-month).dx-scheduler-work-space-day[dx-group-row-count='2'] .dx-scrollable.dx-scheduler-date-table-scrollable, .dx-scheduler-work-space-grouped:not(.dx-scheduler-work-space-all-day):not(.dx-scheduler-timeline):not(.dx-scheduler-agenda):not(.dx-scheduler-work-space-month).dx-scheduler-work-space-day[dx-group-row-count='2'] .dx-scrollable.dx-scheduler-sidebar-scrollable
{
  padding-bottom: 70px;
  margin-bottom: -70px;
}
.dx-scheduler-work-space-grouped:not(.dx-scheduler-work-space-all-day):not(.dx-scheduler-timeline):not(.dx-scheduler-agenda):not(.dx-scheduler-work-space-month).dx-scheduler-work-space-day[dx-group-row-count='3'] .dx-scrollable.dx-scheduler-date-table-scrollable, .dx-scheduler-work-space-grouped:not(.dx-scheduler-work-space-all-day):not(.dx-scheduler-timeline):not(.dx-scheduler-agenda):not(.dx-scheduler-work-space-month).dx-scheduler-work-space-day[dx-group-row-count='3'] .dx-scrollable.dx-scheduler-sidebar-scrollable
{
  padding-bottom: 100px;
  margin-bottom: -100px;
}
.dx-scheduler-work-space-grouped:not(.dx-scheduler-work-space-all-day):not(.dx-scheduler-timeline):not(.dx-scheduler-agenda):not(.dx-scheduler-work-space-month) .dx-scheduler-header-scrollable
{
  margin-left: 100px;
}
.dx-rtl .dx-scheduler-work-space-grouped:not(.dx-scheduler-work-space-all-day):not(.dx-scheduler-timeline):not(.dx-scheduler-agenda):not(.dx-scheduler-work-space-month) .dx-scheduler-header-scrollable
{
  margin-left: 0;
}
.dx-scheduler-small .dx-scheduler-work-space-grouped:not(.dx-scheduler-work-space-all-day):not(.dx-scheduler-timeline):not(.dx-scheduler-agenda):not(.dx-scheduler-work-space-month) .dx-scheduler-header-scrollable
{
  margin-left: 50px;
}
.dx-scheduler-work-space-both-scrollbar .dx-scheduler-header-panel
{
  width: auto;
  margin-left: 0;
}
.dx-scheduler-work-space-both-scrollbar .dx-scheduler-header-panel .dx-scheduler-group-row:before, .dx-scheduler-work-space-both-scrollbar .dx-scheduler-header-panel .dx-scheduler-header-row:before
{
  display: none;
}
.dx-scheduler-work-space-both-scrollbar .dx-scheduler-all-day-panel
{
  margin-left: 0;
}
.dx-scheduler-work-space-both-scrollbar .dx-scheduler-all-day-panel .dx-scheduler-all-day-table-row:before
{
  display: none;
}
.dx-scheduler-work-space-both-scrollbar .dx-scheduler-all-day-title
{
  z-index: 100;
  border-right: 1px solid rgba(221,221,221,.6);
}
.dx-scheduler-work-space-both-scrollbar .dx-scheduler-all-day-title:before
{
  content: "";
  position: absolute;
  left: 0;
  width: 100px;
  border-right: 1px solid rgba(221,221,221,.6);
}
.dx-scheduler-small .dx-scheduler-work-space-both-scrollbar .dx-scheduler-all-day-title:before
{
  width: 50px;
}
.dx-scheduler-work-space-both-scrollbar .dx-scheduler-date-table
{
  float: none;
  margin-left: 0;
}
.dx-scheduler-work-space-both-scrollbar .dx-scheduler-date-table .dx-scheduler-date-table-row:before
{
  display: none;
}
.dx-scheduler-work-space-both-scrollbar .dx-scheduler-sidebar-scrollable
{
  float: left;
}
.dx-scheduler-work-space-both-scrollbar .dx-scheduler-date-table-scrollable
{
  margin-left: 100px;
}
.dx-scheduler-small .dx-scheduler-work-space-both-scrollbar .dx-scheduler-date-table-scrollable
{
  margin-left: 50px;
}
.dx-scheduler-work-space-both-scrollbar .dx-scheduler-time-panel
{
  border-right: 1px solid rgba(221,221,221,.6);
}
.dx-scheduler-work-space-both-scrollbar[dx-group-row-count='1'] .dx-scheduler-header-scrollable
{
  height: 81px;
}
.dx-scheduler-work-space-both-scrollbar[dx-group-row-count='2'] .dx-scheduler-header-scrollable
{
  height: 111px;
}
.dx-scheduler-work-space-both-scrollbar[dx-group-row-count='3'] .dx-scheduler-header-scrollable
{
  height: 141px;
}
.dx-scheduler-work-space-both-scrollbar .dx-scheduler-header-scrollable
{
  height: 51px;
}
.dx-scheduler-work-space-both-scrollbar.dx-scheduler-work-space-day[dx-group-row-count='1'] .dx-scheduler-header-scrollable
{
  height: 31px;
}
.dx-scheduler-work-space-both-scrollbar.dx-scheduler-work-space-day[dx-group-row-count='2'] .dx-scheduler-header-scrollable
{
  height: 61px;
}
.dx-scheduler-work-space-both-scrollbar.dx-scheduler-work-space-day[dx-group-row-count='3'] .dx-scheduler-header-scrollable
{
  height: 91px;
}
.dx-scheduler-work-space-both-scrollbar.dx-scheduler-work-space-day .dx-scheduler-header-scrollable
{
  height: 1px;
}
.dx-scheduler-work-space-both-scrollbar.dx-scheduler-work-space-day .dx-scheduler-header-panel
{
  width: 100%;
}
.dx-scheduler-work-space-both-scrollbar .dx-scheduler-header-scrollable.dx-scrollable
{
  margin: 0 0 0 100px;
  padding: 0;
}
.dx-scheduler-small .dx-scheduler-work-space-both-scrollbar .dx-scheduler-header-scrollable.dx-scrollable
{
  margin: 0 0 0 50px;
}
.dx-rtl .dx-scheduler-work-space-both-scrollbar .dx-scheduler-header-scrollable.dx-scrollable
{
  margin: 0 100px 0 0;
}
.dx-scheduler-small .dx-rtl .dx-scheduler-work-space-both-scrollbar .dx-scheduler-header-scrollable.dx-scrollable
{
  margin: 0 50px 0 0;
}
.dx-scheduler-work-space-both-scrollbar.dx-scheduler-work-space-all-day[dx-group-row-count='1'] .dx-scheduler-header-scrollable
{
  height: 156px;
}
.dx-scheduler-work-space-both-scrollbar.dx-scheduler-work-space-all-day[dx-group-row-count='2'] .dx-scheduler-header-scrollable
{
  height: 186px;
}
.dx-scheduler-work-space-both-scrollbar.dx-scheduler-work-space-all-day[dx-group-row-count='3'] .dx-scheduler-header-scrollable
{
  height: 216px;
}
.dx-scheduler-work-space-both-scrollbar.dx-scheduler-work-space-all-day .dx-scheduler-header-scrollable
{
  height: 126px;
}
.dx-scheduler-work-space-both-scrollbar.dx-scheduler-work-space-all-day.dx-scheduler-work-space-all-day-collapsed[dx-group-row-count='1'] .dx-scheduler-header-scrollable
{
  height: 106px;
}
.dx-scheduler-work-space-both-scrollbar.dx-scheduler-work-space-all-day.dx-scheduler-work-space-all-day-collapsed[dx-group-row-count='2'] .dx-scheduler-header-scrollable
{
  height: 136px;
}
.dx-scheduler-work-space-both-scrollbar.dx-scheduler-work-space-all-day.dx-scheduler-work-space-all-day-collapsed[dx-group-row-count='3'] .dx-scheduler-header-scrollable
{
  height: 166px;
}
.dx-scheduler-work-space-both-scrollbar.dx-scheduler-work-space-all-day.dx-scheduler-work-space-all-day-collapsed .dx-scheduler-header-scrollable
{
  height: 76px;
}
.dx-scheduler-work-space-both-scrollbar.dx-scheduler-work-space-all-day.dx-scheduler-work-space-day[dx-group-row-count='1'] .dx-scheduler-header-scrollable
{
  height: 106px;
}
.dx-scheduler-work-space-both-scrollbar.dx-scheduler-work-space-all-day.dx-scheduler-work-space-day[dx-group-row-count='2'] .dx-scheduler-header-scrollable
{
  height: 136px;
}
.dx-scheduler-work-space-both-scrollbar.dx-scheduler-work-space-all-day.dx-scheduler-work-space-day[dx-group-row-count='3'] .dx-scheduler-header-scrollable
{
  height: 166px;
}
.dx-scheduler-work-space-both-scrollbar.dx-scheduler-work-space-all-day.dx-scheduler-work-space-day .dx-scheduler-header-scrollable
{
  height: 76px;
}
.dx-scheduler-work-space-both-scrollbar.dx-scheduler-work-space-all-day.dx-scheduler-work-space-day.dx-scheduler-work-space-all-day-collapsed[dx-group-row-count='1'] .dx-scheduler-header-scrollable
{
  height: 56px;
}
.dx-scheduler-work-space-both-scrollbar.dx-scheduler-work-space-all-day.dx-scheduler-work-space-day.dx-scheduler-work-space-all-day-collapsed[dx-group-row-count='2'] .dx-scheduler-header-scrollable
{
  height: 86px;
}
.dx-scheduler-work-space-both-scrollbar.dx-scheduler-work-space-all-day.dx-scheduler-work-space-day.dx-scheduler-work-space-all-day-collapsed[dx-group-row-count='3'] .dx-scheduler-header-scrollable
{
  height: 116px;
}
.dx-scheduler-work-space-both-scrollbar.dx-scheduler-work-space-all-day.dx-scheduler-work-space-day.dx-scheduler-work-space-all-day-collapsed .dx-scheduler-header-scrollable
{
  height: 26px;
}
.dx-scheduler-work-space-both-scrollbar.dx-scheduler-work-space-month .dx-scheduler-header-scrollable.dx-scrollable, .dx-scheduler-work-space-both-scrollbar.dx-scheduler-timeline:not(.dx-scheduler-work-space-grouped) .dx-scheduler-header-scrollable.dx-scrollable
{
  margin: 0;
  padding: 0;
}
.dx-scheduler-work-space-both-scrollbar.dx-scheduler-work-space-month .dx-scheduler-date-table-scrollable, .dx-scheduler-work-space-both-scrollbar.dx-scheduler-timeline:not(.dx-scheduler-work-space-grouped) .dx-scheduler-date-table-scrollable
{
  margin-left: 0;
}
.dx-scheduler-work-space-both-scrollbar.dx-scheduler-work-space-month[dx-group-row-count='1'] .dx-scheduler-header-scrollable
{
  height: 81px;
}
.dx-scheduler-work-space-both-scrollbar.dx-scheduler-work-space-month[dx-group-row-count='2'] .dx-scheduler-header-scrollable
{
  height: 111px;
}
.dx-scheduler-work-space-both-scrollbar.dx-scheduler-work-space-month[dx-group-row-count='3'] .dx-scheduler-header-scrollable
{
  height: 141px;
}
.dx-scheduler-work-space-both-scrollbar.dx-scheduler-work-space-month .dx-scheduler-header-scrollable
{
  height: 51px;
}
.dx-scheduler-work-space-both-scrollbar.dx-scheduler-work-space-month .dx-scheduler-sidebar-scrollable
{
  display: none;
}
.dx-scheduler-work-space-both-scrollbar .dx-scheduler-date-table-row .dx-scheduler-date-table-cell:first-child, .dx-scheduler-work-space-both-scrollbar .dx-scheduler-header-row .dx-scheduler-header-panel-cell:first-child, .dx-scheduler-work-space-both-scrollbar .dx-scheduler-all-day-table-row .dx-scheduler-all-day-table-cell:first-child
{
  border-left: none;
}
.dx-scheduler-work-space-both-scrollbar .dx-scheduler-scrollable-appointments
{
  top: 0;
}
.dx-scheduler-header-panel-cell
{
  border-left: 1px solid rgba(221,221,221,.6);
  border-right: 1px solid rgba(221,221,221,.6);
  color: #333;
  padding: 0;
  white-space: nowrap;
  vertical-align: middle;
  height: 40px;
  text-align: center;
  font-weight: normal;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.dx-scheduler-group-row:before, .dx-scheduler-header-row:before, .dx-scheduler-all-day-table-row:before
{
  content: "";
  width: 100px;
  display: table-cell;
}
.dx-scheduler-small .dx-scheduler-group-row:before, .dx-scheduler-small .dx-scheduler-header-row:before, .dx-scheduler-small .dx-scheduler-all-day-table-row:before
{
  width: 50px;
}
.dx-scheduler-all-day-panel
{
  width: 100%;
}
.dx-scheduler-all-day-panel .dx-scheduler-all-day-table-cell
{
  border-bottom: 2px solid rgba(221,221,221,.6);
}
.dx-scheduler-all-day-title
{
  color: #333;
  width: 100px;
  height: 75px;
  position: absolute;
  line-height: 75px;
  text-align: center;
  border-bottom: 2px solid rgba(221,221,221,.6);
}
.dx-scheduler-small .dx-scheduler-all-day-title
{
  width: 50px;
}
.dx-scheduler-work-space-all-day-collapsed .dx-scheduler-all-day-title
{
  height: 25px;
  line-height: 25px;
}
.dx-scheduler-all-day-table
{
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}
.dx-scheduler-all-day-table
{
  height: 75px;
}
.dx-scheduler-work-space-all-day-collapsed .dx-scheduler-all-day-table
{
  height: 25px;
}
.dx-scheduler-group-header
{
  height: 30px;
  text-align: center;
}
.dx-scheduler-time-panel
{
  float: left;
  width: 100px;
  border-collapse: collapse;
  margin-top: -50px;
  font-size: 20px;
}
.dx-scheduler-small .dx-scheduler-time-panel
{
  width: 50px;
  font-size: 14px;
}
.dx-scheduler-time-panel tbody:after
{
  content: '';
  height: 50px;
  display: table-cell;
}
.dx-scheduler-time-panel-cell
{
  color: #333;
  border-bottom: 1px solid rgba(221,221,221,.6);
  position: relative;
  width: 100%;
  text-align: center;
  height: 100px;
  padding-left: 10px;
}
.dx-scheduler-small .dx-scheduler-time-panel-cell
{
  padding-left: 0;
}
.dx-scheduler-time-panel-row:first-child .dx-scheduler-time-panel-cell
{
  padding-top: 35px;
}
.dx-scheduler-time-panel-cell:after
{
  position: absolute;
  bottom: -1px;
  width: 50%;
  height: 1px;
  content: '';
  left: 0;
  background-color: #fff;
}
.dx-scheduler-date-table
{
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  float: left;
  margin-left: -100px;
}
.dx-scheduler-small .dx-scheduler-date-table
{
  margin-left: -50px;
}
.dx-scheduler-date-table .dx-scheduler-date-table-row:before
{
  content: "";
  width: 100px;
  display: table-cell;
}
.dx-scheduler-small .dx-scheduler-date-table .dx-scheduler-date-table-row:before
{
  width: 50px;
}
.dx-scheduler-date-table-cell
{
  border-left: 1px solid rgba(221,221,221,.6);
  border-right: 1px solid rgba(221,221,221,.6);
  height: 50px;
}
.dx-scheduler-all-day-table-cell.dx-state-active, .dx-scheduler-date-table-cell.dx-state-active
{
  background-color: #c4c4c4;
}
.dx-scheduler-all-day-table-cell.dx-state-hover, .dx-scheduler-date-table-cell.dx-state-hover
{
  background-color: #959595;
}
.dx-scheduler-all-day-table-cell.dx-state-hover.dx-state-focused, .dx-scheduler-date-table-cell.dx-state-hover.dx-state-focused
{
  background-color: #dbe9f5;
}
.dx-scheduler-all-day-table-cell.dx-state-focused, .dx-scheduler-date-table-cell.dx-state-focused
{
  background-color: #dbe9f5;
  opacity: 1;
}
.dx-scheduler-all-day-table-cell.dx-scheduler-focused-cell, .dx-scheduler-date-table-cell.dx-scheduler-focused-cell
{
  box-shadow: inset 0 0 0 1px #337ab7;
}
.dx-scheduler-date-table-droppable-cell
{
  background-color: #f2f2f2;
}
.dx-scheduler-scrollable-appointments
{
  position: absolute;
}
.dx-scheduler-appointment
{
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  background-clip: padding-box;
  position: absolute;
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  background-color: #337ab7;
  color: #fff;
  -webkit-box-shadow: inset 0 2px 0 0 rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 2px 0 0 rgba(0,0,0,.3);
  box-shadow: inset 0 2px 0 0 rgba(0,0,0,.3);
  left: 0;
}
.dx-scheduler-appointment.dx-state-active, .dx-scheduler-appointment.dx-resizable-resizing
{
  -webkit-box-shadow: inset 0 -2px 0 0 rgba(0,0,0,.3),inset 0 2px 0 0 rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 -2px 0 0 rgba(0,0,0,.3),inset 0 2px 0 0 rgba(0,0,0,.3);
  box-shadow: inset 0 -2px 0 0 rgba(0,0,0,.3),inset 0 2px 0 0 rgba(0,0,0,.3);
}
.dx-scheduler-appointment.dx-state-focused
{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.dx-scheduler-appointment.dx-state-focused:before
{
  pointer-events: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.dx-scheduler-appointment.dx-state-focused:before
{
  background-color: rgba(0,0,0,.3);
}
.dx-scheduler-appointment.dx-state-hover
{
  -webkit-box-shadow: inset 0 5px 0 0 rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 5px 0 0 rgba(0,0,0,.3);
  box-shadow: inset 0 5px 0 0 rgba(0,0,0,.3);
}
.dx-scheduler-appointment.dx-state-hover.dx-resizable
{
  -webkit-box-shadow: inset 0 5px 0 0 rgba(0,0,0,.3),inset 0 -2px 0 0 rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 5px 0 0 rgba(0,0,0,.3),inset 0 -2px 0 0 rgba(0,0,0,.3);
  box-shadow: inset 0 5px 0 0 rgba(0,0,0,.3),inset 0 -2px 0 0 rgba(0,0,0,.3);
}
.dx-scheduler-appointment.dx-state-hover .dx-resizable-handle-top
{
  height: 5px;
}
.dx-scheduler-appointment.dx-state-hover .dx-resizable-handle-left
{
  width: 5px;
}
.dx-scheduler-appointment.dx-draggable-dragging
{
  -webkit-box-shadow: 7px 7px 15px 0 rgba(50,50,50,.2),inset 0 -2px 0 0 rgba(0,0,0,.3),inset 0 2px 0 0 rgba(0,0,0,.3);
  -moz-box-shadow: 7px 7px 15px 0 rgba(50,50,50,.2),inset 0 -2px 0 0 rgba(0,0,0,.3),inset 0 2px 0 0 rgba(0,0,0,.3);
  box-shadow: 7px 7px 15px 0 rgba(50,50,50,.2),inset 0 -2px 0 0 rgba(0,0,0,.3),inset 0 2px 0 0 rgba(0,0,0,.3);
}
.dx-scheduler-appointment.dx-resizable-resizing, .dx-scheduler-appointment.dx-draggable-dragging
{
  z-index: 1000;
  opacity: .7;
}
.dx-scheduler-appointment .dx-resizable-handle-left
{
  left: -1px;
}
.dx-scheduler-appointment .dx-resizable-handle-top
{
  top: -1px;
}
.dx-scheduler-appointment .dx-scheduler-appointment-reduced-icon
{
  position: absolute;
  top: 3px;
  right: 5px;
  font: 14px/1 DXIcons;
}
.dx-scheduler-appointment .dx-scheduler-appointment-reduced-icon:before
{
  content: "\f00e ";
}
.dx-rtl .dx-scheduler-appointment .dx-scheduler-appointment-reduced-icon
{
  right: auto;
  left: 3px;
  font: 14px/1 DXIcons;
}
.dx-rtl .dx-scheduler-appointment .dx-scheduler-appointment-reduced-icon:before
{
  content: "\f011 ";
}
.dx-scheduler-appointment.dx-scheduler-appointment-empty .dx-scheduler-appointment-reduced-icon, .dx-scheduler-appointment.dx-scheduler-appointment-tail .dx-scheduler-appointment-reduced-icon
{
  display: none;
}
.dx-scheduler-appointment.dx-state-disabled
{
  cursor: default;
  opacity: .6;
}
.dx-scheduler-timeline .dx-scheduler-appointment, .dx-scheduler-work-space-month .dx-scheduler-appointment, .dx-scheduler-all-day-appointment
{
  -webkit-box-shadow: inset 2px 0 0 0 rgba(0,0,0,.3);
  -moz-box-shadow: inset 2px 0 0 0 rgba(0,0,0,.3);
  box-shadow: inset 2px 0 0 0 rgba(0,0,0,.3);
}
.dx-rtl .dx-scheduler-timeline .dx-scheduler-appointment, .dx-rtl .dx-scheduler-work-space-month .dx-scheduler-appointment, .dx-rtl .dx-scheduler-all-day-appointment
{
  -webkit-box-shadow: inset -2px 0 0 0 rgba(0,0,0,.3);
  -moz-box-shadow: inset -2px 0 0 0 rgba(0,0,0,.3);
  box-shadow: inset -2px 0 0 0 rgba(0,0,0,.3);
}
.dx-scheduler-timeline .dx-scheduler-appointment.dx-state-active, .dx-scheduler-work-space-month .dx-scheduler-appointment.dx-state-active, .dx-scheduler-all-day-appointment.dx-state-active, .dx-scheduler-timeline .dx-scheduler-appointment.dx-resizable-resizing, .dx-scheduler-work-space-month .dx-scheduler-appointment.dx-resizable-resizing, .dx-scheduler-all-day-appointment.dx-resizable-resizing
{
  -webkit-box-shadow: inset -2px 0 0 0 rgba(0,0,0,.3),inset 2px 0 0 0 rgba(0,0,0,.3);
  -moz-box-shadow: inset -2px 0 0 0 rgba(0,0,0,.3),inset 2px 0 0 0 rgba(0,0,0,.3);
  box-shadow: inset -2px 0 0 0 rgba(0,0,0,.3),inset 2px 0 0 0 rgba(0,0,0,.3);
}
.dx-scheduler-timeline .dx-scheduler-appointment.dx-state-focused, .dx-scheduler-work-space-month .dx-scheduler-appointment.dx-state-focused, .dx-scheduler-all-day-appointment.dx-state-focused
{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.dx-scheduler-timeline .dx-scheduler-appointment.dx-state-focused:before, .dx-scheduler-work-space-month .dx-scheduler-appointment.dx-state-focused:before, .dx-scheduler-all-day-appointment.dx-state-focused:before
{
  pointer-events: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.dx-scheduler-timeline .dx-scheduler-appointment.dx-state-focused:before, .dx-scheduler-work-space-month .dx-scheduler-appointment.dx-state-focused:before, .dx-scheduler-all-day-appointment.dx-state-focused:before
{
  background-color: rgba(0,0,0,.3);
}
.dx-scheduler-timeline .dx-scheduler-appointment.dx-state-hover, .dx-scheduler-work-space-month .dx-scheduler-appointment.dx-state-hover, .dx-scheduler-all-day-appointment.dx-state-hover
{
  -webkit-box-shadow: inset 5px 0 0 0 rgba(0,0,0,.3);
  -moz-box-shadow: inset 5px 0 0 0 rgba(0,0,0,.3);
  box-shadow: inset 5px 0 0 0 rgba(0,0,0,.3);
}
.dx-scheduler-timeline .dx-scheduler-appointment.dx-state-hover.dx-resizable, .dx-scheduler-work-space-month .dx-scheduler-appointment.dx-state-hover.dx-resizable, .dx-scheduler-all-day-appointment.dx-state-hover.dx-resizable
{
  -webkit-box-shadow: inset 5px 0 0 0 rgba(0,0,0,.3),inset -2px 0 0 0 rgba(0,0,0,.3);
  -moz-box-shadow: inset 5px 0 0 0 rgba(0,0,0,.3),inset -2px 0 0 0 rgba(0,0,0,.3);
  box-shadow: inset 5px 0 0 0 rgba(0,0,0,.3),inset -2px 0 0 0 rgba(0,0,0,.3);
}
.dx-rtl .dx-scheduler-timeline .dx-scheduler-appointment.dx-state-hover, .dx-rtl .dx-scheduler-work-space-month .dx-scheduler-appointment.dx-state-hover, .dx-rtl .dx-scheduler-all-day-appointment.dx-state-hover
{
  -webkit-box-shadow: inset -5px 0 0 0 rgba(0,0,0,.3);
  -moz-box-shadow: inset -5px 0 0 0 rgba(0,0,0,.3);
  box-shadow: inset -5px 0 0 0 rgba(0,0,0,.3);
}
.dx-rtl .dx-scheduler-timeline .dx-scheduler-appointment.dx-state-hover.dx-resizable, .dx-rtl .dx-scheduler-work-space-month .dx-scheduler-appointment.dx-state-hover.dx-resizable, .dx-rtl .dx-scheduler-all-day-appointment.dx-state-hover.dx-resizable
{
  -webkit-box-shadow: inset -5px 0 0 0 rgba(0,0,0,.3),inset 2px 0 0 0 rgba(0,0,0,.3);
  -moz-box-shadow: inset -5px 0 0 0 rgba(0,0,0,.3),inset 2px 0 0 0 rgba(0,0,0,.3);
  box-shadow: inset -5px 0 0 0 rgba(0,0,0,.3),inset 2px 0 0 0 rgba(0,0,0,.3);
}
.dx-scheduler-timeline .dx-scheduler-appointment.dx-draggable-dragging, .dx-scheduler-work-space-month .dx-scheduler-appointment.dx-draggable-dragging, .dx-scheduler-all-day-appointment.dx-draggable-dragging
{
  -webkit-box-shadow: inset -2px 0 0 0 rgba(0,0,0,.3),inset 2px 0 0 0 rgba(0,0,0,.3),7px 7px 15px 0 rgba(50,50,50,.2);
  -moz-box-shadow: inset -2px 0 0 0 rgba(0,0,0,.3),inset 2px 0 0 0 rgba(0,0,0,.3),7px 7px 15px 0 rgba(50,50,50,.2);
  box-shadow: inset -2px 0 0 0 rgba(0,0,0,.3),inset 2px 0 0 0 rgba(0,0,0,.3),7px 7px 15px 0 rgba(50,50,50,.2);
}
.dx-scheduler-all-day-appointment .dx-scheduler-appointment-reduced-icon
{
  position: absolute;
  top: 35%;
}
.dx-scheduler-appointment.dx-scheduler-appointment-body, .dx-scheduler-appointment.dx-scheduler-appointment-tail
{
  box-shadow: none;
}
.dx-scheduler-group-header-content div
{
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dx-scheduler-appointment-recurrence-icon
{
  position: absolute;
  background-repeat: no-repeat;
  top: 3px;
  right: 7px;
  display: none;
}
.dx-scheduler-appointment-recurrence-icon.dx-icon-repeat
{
  font-size: 18px;
}
.dx-scheduler-appointment-reduced .dx-scheduler-appointment-recurrence-icon
{
  right: 20px;
}
.dx-scheduler-appointment-recurrence .dx-scheduler-appointment-recurrence-icon
{
  display: block;
}
.dx-scheduler-appointment-recurrence .dx-scheduler-appointment-content
{
  padding: 5px 25px 5px 7px;
}
.dx-rtl .dx-scheduler-appointment-recurrence .dx-scheduler-appointment-content
{
  padding: 5px 7px 5px 25px;
}
.dx-scheduler-appointment-content
{
  padding: 5px 7px;
  overflow: hidden;
  height: 100%;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dx-scheduler-appointment-empty .dx-scheduler-appointment-content
{
  display: none;
}
.dx-scheduler-work-space-grouped.dx-scheduler-work-space-month .dx-scheduler-appointment-content
{
  font-size: 12px;
}
.dx-scheduler-appointment-content>*
{
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dx-scheduler-appointment-content-details
{
  font-size: 11px;
  white-space: pre;
  overflow: hidden;
}
.dx-scheduler-all-day-appointment .dx-scheduler-appointment-content-details, .dx-scheduler-work-space-month .dx-scheduler-appointment-content-details
{
  display: none;
}
.dx-scheduler-appointment-content-date
{
  opacity: .7;
  display: inline-block;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dx-scheduler-appointment-tooltip
{
  text-align: left;
  width: 250px;
}
.dx-scheduler-appointment-tooltip .dx-button-content
{
  font-size: 13.333333333px;
}
.dx-scheduler-appointment-tooltip .dx-button-content .dx-icon
{
  font-size: 16px;
}
.dx-scheduler-appointment-tooltip-date, .dx-scheduler-appointment-tooltip-title
{
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dx-scheduler-appointment-tooltip-title
{
  font-size: 16px;
  font-weight: bold;
  width: 100%;
}
.dx-scheduler-appointment-tooltip-buttons
{
  margin-top: 10px;
}
.dx-scheduler-appointment-popup .dx-layout-manager .dx-label-h-align .dx-field-item-content .dx-switch, .dx-scheduler-appointment-popup .dx-layout-manager .dx-label-h-align .dx-field-item-content .dx-checkbox
{
  margin: 0;
}
.dx-scheduler-appointment-popup .dx-field-item
{
  padding-left: 20px;
  padding-right: 20px;
}
.dx-scheduler-appointment-popup .dx-scheduler-recurrence-rule-item
{
  position: relative;
  padding-left: 0;
  padding-right: 0;
}
.dx-scheduler-appointment-popup .dx-scheduler-recurrence-rule-item .dx-field-item-label
{
  vertical-align: top;
}
.dx-scheduler-appointment-popup .dx-scheduler-recurrence-rule-item .dx-field-item-label.dx-field-item-label-location-left, .dx-scheduler-appointment-popup .dx-scheduler-recurrence-rule-item .dx-field-item-label.dx-field-item-label-location-top
{
  padding-left: 20px;
}
.dx-scheduler-appointment-popup .dx-scheduler-recurrence-rule-item .dx-field-item-label.dx-field-item-label-location-right
{
  padding-right: 20px;
}
.dx-scheduler-appointment-popup .dx-scheduler-recurrence-rule-item .dx-field-value, .dx-scheduler-appointment-popup .dx-scheduler-recurrence-rule-item .dx-field-label
{
  float: none;
}
.dx-scheduler-appointment-popup .dx-scheduler-recurrence-rule-item .dx-field-value .dx-recurrence-numberbox-repeat-count, .dx-scheduler-appointment-popup .dx-scheduler-recurrence-rule-item .dx-field-label .dx-recurrence-numberbox-repeat-count
{
  float: left;
}
.dx-scheduler-appointment-popup .dx-scheduler-recurrence-rule-item .dx-field-value
{
  display: inline-block;
}
.dx-scheduler-appointment-popup .dx-scheduler-recurrence-rule-item .dx-field-label
{
  padding: 3px 0;
}
.dx-scheduler-appointment-popup .dx-scheduler-recurrence-rule-item.dx-scheduler-recurrence-rule-item-opened:before
{
  display: block;
}
.dx-scheduler-appointment-popup .dx-scheduler-recurrence-rule-item:before
{
  content: "";
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 100%;
  display: none;
}
.dx-scheduler-appointment-popup .dx-scheduler-recurrence-rule-item.dx-label-v-align:before
{
  top: 70px;
}
.dx-scheduler-appointment-popup .dx-scheduler-recurrence-rule-item.dx-label-v-align .dx-recurrence-editor
{
  padding-left: 20px;
}
.dx-scheduler-appointment-popup .dx-scheduler-recurrence-rule-item .dx-field-item-content-location-left .dx-recurrence-editor
{
  padding-left: 20px;
}
.dx-scheduler-appointment-popup .dx-field
{
  min-height: 0;
}
.dx-scheduler-appointment-popup .dx-field-label
{
  width: auto;
}
.dx-scheduler-appointment-popup .dx-field-value:not(.dx-switch):not(.dx-numberbox):not(.dx-datebox)
{
  width: auto;
}
.dx-scheduler-appointment-popup .dx-field-value
{
  padding-left: 0;
  padding-right: 0;
}
.dx-scheduler-appointment-popup .dx-field-value:not(.dx-widget)>.dx-checkbox
{
  float: left;
}
.dx-scheduler-appointment-popup .dx-field-value:not(.dx-widget)>.dx-checkbox.dx-rtl
{
  float: right;
}
.dx-numberbox.dx-recurrence-numberbox-interval, .dx-numberbox.dx-recurrence-numberbox-day-of-month, .dx-selectbox.dx-recurrence-selectbox-month-of-year, .dx-numberbox.dx-recurrence-numberbox-repeat-count, .dx-datebox.dx-recurrence-datebox-until-date, .dx-switch.dx-recurrence-switch-repeat-end
{
  float: left;
  position: relative !im