﻿
<!-- Main content -->
<section class="content">
    <div class="row" style="margin-top:-5%;width:110%;height: 35%;">
        <div class="col-md-3 col-xs-6 bg-white thin-border center" style="padding-top:40px;">
            <label style="font-size:x-small;">{{today}}</label>
            <div style="display:inline;"><h1>{{weight}} <span class="aligninline">kg</span></h1></div>
            <span>Body Weight </span>
            <br /><br /><br />
        </div>
        <div class="col-md-3 col-xs-6 bg-white thin-border center" style="padding-top:40px;">
            <label style="font-size:x-small;">{{maxDate}}</label>
            <div style="display:inline"><h1>{{maxweight}} <span class="aligninline">kg</span></h1></div>
            <span>Max weight</span>
            <br /><br /><br />
        </div>
        <div class="col-md-3 col-xs-6 bg-white thin-border center" style="padding-top:40px;">
            <label style="font-size:x-small;">{{minDate}}</label>
            <div style="display:inline"><h1>{{minweight}} <span class="aligninline">kg</span></h1></div>
            <span>Min weight</span>
            <br /><br /><br />
        </div>
        <div class="col-md-3 col-xs-6 bg-white thin-border center" style="padding-top:40px;">
            <label style="font-size:x-small;">. </label>
            <div style="display:inline"><h1>{{goalweigth}}<span class="aligninline">kg</span></h1></div>
            <span>Your goal</span>
            <br /><br /><br />
        </div>
    </div>
    <div class="row banner">
        <canvas id="line" class="chart chart-line" chart-data="data"
                chart-labels="labels" chart-series="series" chart-options="options"
                chart-dataset-override="datasetOverride" chart-click="onClick">
        </canvas></div>
</section><!-- /.content -->


