﻿
    <section class="content">
    <div class="row banner">
        <h2>Welcome back <span>{{userName}}</span>, </h2>
        <span class="statusline">Things look <span>{{status}}</span></span>
        </div>

     <div class="row">
         <div class="col-md-6 col-xs-6 bg-white thin-border center">
             <h1>{{temperature}} <span style="font-size:medium;color:gray;vertical-align:super;">o</span></h1>
             <span>Temperature </span>
             <br />
             <div style="height:60px; max-width:150px; margin: 0 auto;" dx-sparkline="sparklineTemprature"></div><br /><br />
         </div>
         <div class="col-md-6 col-xs-6 bg-white thin-border center">
             <h1>{{kcal}} <span style="font-size:medium;color:gray;">cal</span></h1> 
             <span>Calories burned</span>
             <br/>
             <div style="height:60px; max-width:150px; margin: 0 auto;" dx-sparkline="sparklineConfiguration"></div>
             <br /><br />
         </div>
     </div>
     <div class="row">
            <div class="col-md-6 col-xs-6 bg-white thin-border center">
                <h1>{{steps}}</h1>
                <span>Steps </span>
                <br /><br/>
                <div class="progress-group center" style="max-width:150px;margin: 0 auto;margin-top:17px;">
                    <div class="progress xxs">
                        <div class="progress-bar progress-bar-aqua center" ng-style="width"></div>
                    </div>
                </div><br /><br />
            </div>
            <div class="col-md-6 col-xs-6 bg-white thin-border center">
                <h1>{{bpm}} <span style="font-size:medium;color:gray;">bpm</span></h1>
                <span>Heart rate</span>
                <br /><div style="height:60px; max-width:150px; margin: 0 auto;" dx-sparkline="sparklineHeartRate"></div>
                <br /><br />
            </div>
        </div>  
     <div class="row">
        <div class="panel panel-info">
            <div class="box-header with-border">
                <h3 class="box-title">Moving activity</h3>
                <canvas id="line" class="chart chart-line" chart-data="data"
                        chart-labels="labels" chart-series="series" chart-options="options"
                        chart-dataset-override="datasetOverride" chart-click="onClick"></canvas>
            </div>
        </div>
     </div>    </section><!-- /.content -->
